// Fonts

.font-heading {
    font-family: 'Montserrat', sans-serif;
}

.font-body {
    font-family: 'Montserrat', sans-serif;
}

// Headings

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    @extend .font-heading;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h1, .h1 {
    @include font-size(38px);

    @include media-breakpoint-up(sm) {
        @include font-size(45px);
    }

    @include media-breakpoint-up(md) {
        @include font-size(50px);
    }

    @include media-breakpoint-up(lg) {
        @include font-size(55px);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(70px);
    }
}

h2, .h2 {
    @include font-size(32px);

    @include media-breakpoint-up(sm) {
        @include font-size(35px);
    }

    @include media-breakpoint-up(md) {
        @include font-size(40px);
    }

    @include media-breakpoint-up(lg) {
        @include font-size(45px);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(50px);
    }
}

h3, .h3 {
    @include font-size(23px);

    @include media-breakpoint-up(sm) {
        @include font-size(24px);
    }

    @include media-breakpoint-up(md) {
        @include font-size(25px);
    }

    @include media-breakpoint-up(lg) {
        @include font-size(28px);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(30px);
    }
}

h4, .h4 {
    @include font-size(20px);

    @include media-breakpoint-up(md) {
        @include font-size(23px);
    }

    @include media-breakpoint-up(lg) {
        @include font-size(24px);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(25px);
    }
}

h5, .h5 {
    @include font-size(16px);

    @include media-breakpoint-up(md) {
        @include font-size(18px);
    }

    @include media-breakpoint-up(lg) {
        @include font-size(19px);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(20px);
    }
}

h6, .h6 {
    @include font-size(15px);
    font-weight: 700;

    @include media-breakpoint-up(md) {
        @include font-size(16px);
    }

    @include media-breakpoint-up(lg) {
        @include font-size(17px);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(18px);
    }
}

.h1--lg {
    @extend .h1;

    @include media-breakpoint-up(lg) {
        @include font-size(65px);
    }

    @include media-breakpoint-up(xl) {
        @include font-size(90px);
    }
}

// Heading classes

.h-spaced {
    letter-spacing: .3rem;

    @include media-breakpoint-up(md) {
        letter-spacing: .4rem;
    }

    @include media-breakpoint-up(lg) {
        letter-spacing: .5rem;
    }

    @include media-breakpoint-up(xl) {
        letter-spacing: .6rem;
    }
}

.h-underline {
    @include media-breakpoint-up(xl) {
        position: relative;
        display: inline;
    }

    &::before {
        @include media-breakpoint-up(xl) {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 115%;
            // background-image: url('../images/heading-bg.png');
            background-repeat: repeat;
            background-position: 0 0;
            z-index: -1;
            background-size: 0.5rem 6.5rem;
        }
    }
}

.h-seperator {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 3rem;
        height: .3rem;
        margin: 3rem 0;
        background: theme-color('dark-grey');
    }
}

.h-quote {
    &::before, &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;
        @include font-size(200px);
        @extend .font-heading;
        line-height: 100px;
        color: theme-color('primary');
        display: inline-block;
    }

    &::before {
        content: "\201C";
        margin-left: -120px;
    }

    &::after {
        content: "\201D";
        margin-right: -120px;
    }
}

// Body

html {
    font-size: 62.5%;
}

body {
    color: theme-color('secondary');
    @include font-size(15px);
    @extend .font-body;
}

// Paragraphs

p, .p {
    line-height: 1.8;
}

.p {
    @include font-size(16px);
}

.p-lg {
    @include font-size(20px);
}

.p-md {
    @include font-size(18px);
}

.p-sm {
    @include font-size(14px);
}

.p-xs {
    @include font-size(12px);
}

// Text classes

.text-spacing {
    letter-spacing: 1px;

    &--md {
        letter-spacing: 2px;
    }

    &--lg {
        letter-spacing: 3px;
    }
}

.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

.text-decoration-clear {
    &:hover {
        text-decoration: none;
    }
}

.text-lighter {
    font-weight: 400 !important;
}

// Anchor tags

a {
    color: theme-color('primary');

    &:hover {
        color: theme-color('primary-dark');
        text-decoration: none;
    }
}

p a {
    &:hover {
        text-decoration: underline;
    }
}


// Blockquotes

blockquote {
    position: relative;
    margin: 2rem 0;
    padding: 5rem 0rem 0 6rem;
    @extend .p-md;
    text-align: left;
    font-style: italic;

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url('../images/intus-cross-pink-blue.png');
        background-size: contain;
        height: 5.5rem;
        width: 4.5rem;
    }

    p{
        margin-bottom: 0;
        font-size: inherit;
    }

    cite{
        display: block;
        font-weight: bold;
        text-align: right;
    }
}


// List Styles
.list {
    @extend .p;

    &-ul{
        padding-left: 2rem;
    }

    &-ol{
        padding-left: 2.5rem;
    }
}
