// Full backgrounds

.picture-bg {
    display: block;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &--overlay {
        &::after {
            content: "";
            @extend .stretch-container;
            z-index: 1;
            background: rgba(0,0,0,0.2);
        }
    }
}

.video-bg {
    display: block;
    overflow: hidden;

    video, iframe {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.iframe-bg {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

    iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110%;
        height: 110%;
        transform: translate(-50%, -50%);
    }
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.img-cover {
    object-fit: cover;
}

// Borders

.solid-border-bottom {
    border-bottom: 1px solid theme-color('dark-grey');

    &--md {
        border-bottom: 2px solid theme-color('dark-grey');
    }

    &--lg {
        border-bottom: 3px solid theme-color('dark-grey');
    }
}

.solid-border-top {
    border-top: 1px solid theme-color('dark-grey');

    &--md {
        border-top: 2px solid theme-color('dark-grey');
    }

    &--lg {
        border-top: 3px solid theme-color('dark-grey');
    }
}

.solid-border-all {
    border: 1px solid theme-color('dark-grey');

    &--md {
        border: 2px solid theme-color('dark-grey');
    }

    &--lg {
        border: 3px solid theme-color('dark-grey');
    }
}

.border-mid-grey {
    border-color: theme-color('mid-grey') !important;
}

.border-light-grey {
    border-color: theme-color('light-grey')  !important;
}

// shadows

.drop-shadow {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.07);
}

.drop-shadow-md {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}

.drop-shadow-sm {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
}

// Flex item

.item-flex {
    display: block;
    position: relative;
    height: auto;
    padding-bottom: 56.25%;

    &--sm {
        @include media-breakpoint-up(md) {
            padding-bottom: 75%;
        }
    }

    &--md {
        @include media-breakpoint-up(md) {
            padding-bottom: 100%;
        }
    }

    &--lg {
        @include media-breakpoint-up(md) {
            padding-bottom: 125%;
        }
    }

    &--xl {
        @include media-breakpoint-up(md) {
            padding-bottom: 140%;
        }
    }

    &__image {
        @extend .stretch-container;
        @extend .bg-cover;
    }
}

a.item-flex {
    cursor: pointer;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        .item-flex__image {
            transition: transform .3s ease;
        }

        &:hover {
            .item-flex__image {
                transform: scale(1.05);
            }
        }
    }
}

.image-hover {
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:hover {
        text-decoration: none;
    }

    &__inner {
        position: absolute;
        top: -1%;
        left: -1%;
        width: 102%;
        height: 102%;
        @extend .bg-cover;
    }

    @include media-breakpoint-up(lg) {
        .image-hover__inner {
            transition: transform .3s ease;
        }

        &:hover {
            .image-hover__inner {
                transform: scale(1.05);
            }
        }
    }
}

.position-initial {
    position: initial !important;
}

// row small padding

.row {
    &--sm {
        margin-left: -7.5px !important;
        margin-right: -7.5px !important;

        [class*="col-"] {
            padding-left: 7.5px !important;
            padding-right: 7.5px !important;
        }
    }
}

// List buttons

.list-buttons {
    @extend .list-clear-all;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;

    li {
        padding: 1rem;
        flex: 0 1 100%;

        @include media-breakpoint-up(md) {
            flex: 0 1 50%;
        }

        @include media-breakpoint-up(lg) {
            flex: none;
        }

        a, button {
            width: 100%;

            @include media-breakpoint-up(lg) {
                width: auto;
            }
        }
    }
}

.intus-icon-title {
    display: inline-block;
    position: relative;
}

.intus-icon {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
    transform: translate(-120%, 0);
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
    }

    img {
        height: auto;
        width: auto;
        max-height: 3rem;
    }

    &.icon-lg {
        img {
            max-height: 6rem;
        }
    }
}

// transitions

$delay_initial: .2s;
$delay_iteration: .1s;
$anim_time: .3s;
$anim_amount: 3rem;

.iv-wp {
    transition: transform $anim_time ease-out $delay_initial, opacity $anim_time ease-out $delay_initial;

	&.fade-up {
		opacity: 0;
        transform: translateY($anim_amount);
	}

	&.fade-down{
		opacity: 0;
        transform: translateY(-$anim_amount);
	}

	&.fade-left{
		opacity: 0;
        transform: translateX($anim_amount);
	}

	&.fade-right{
		opacity: 0;
        transform: translateX(-$anim_amount);
	}

	&.fade-in {
		opacity: 0;
	}

    &.fade-up, &.fade-down {
        &.el-iv {
            transform: translateY(0);
        }
    }

    &.fade-left, &.fade-right {
        &.el-iv {
            transform: translateX(0);
        }
    }

    &.el-iv {
        opacity: 1;
    }

    @include media-breakpoint-up(md){
    	@for $i from 1 through 10{
            &.#{wp-delay}-#{$i}{
                transition-delay: $delay_initial + ($delay_iteration * $i) !important;
                animation-delay: $delay_initial + ($delay_iteration * $i) !important;
            }
        }
    }
}
