
$letter-spacing-button: 0.5rem;

// Bootstrap functions

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Bootstrap Breakpoints

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px,
    xxxl: 1680px,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1400px,
    xxxl: 1580px,
);

@function container-max-width($var) {
    @return map-get($container-max-widths, $var);
}

// Colours

$theme-colors: (
    'primary': #FC9894,
    'primary-light': #FEDBDA,
    'primary-dark': #F1726D,
    'secondary': #30357C,
    'secondary-light': #dbe7e8,
    'tertiary': #778FA9,
    'dark-grey': #2c2c2c,
    'mid-grey': #979797,
    'light-grey': #E9EDEE,
    'lightest-grey': #f8f8f8,
    'error': #d22c2c,
    'success': #6ea96e
);

// Global variables
$global-vars: (
    'header-height': 120px,
    'header-height-mob': 80px,
    'border-radius': 5px,
    'border-width': 2px,
    'transition': cubic-bezier(0.75, 0, 0.125, 1),
);

// Add more spacer values
$spacer: 1rem;
$spacers: (
    6: ($spacer * 6),
    7: ($spacer * 9)
);

// Creates classes for each variable in the theme-colors array
@each $name, $value in $theme-colors {
    .color-#{$name} {
        color: $value !important;

        &.line-hover-link::after {
            background-color: $value !important;
        }
    }
    .bg-#{$name} {
        background-color: $value !important;
    }
}

// Helper function to create an array map for our global variables array
@function global-var($var) {
    @return map-get($global_vars, $var);
}

// Bootstrap navbar fix (https://git.io/fADqW)
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
