.woocommerce-products-header {
    .page-title {
        font-weight: normal;
    }
}

.woocommerce-account {
    .nav-pills {
        align-items: center;
        justify-content: center;

        li {
            padding: 0 1rem;

            a {
                @extend .font-heading;
                @include font-size(20px);
                background: white;
                color: theme-color('dark-grey');
                padding: 1.5rem;
                @extend .drop-shadow-sm;

                &.active {
                    background: white;
                    font-weight: bold;
                    color: theme-color('dark-grey');
                }
            }
        }
    }

    .tab-content {
        padding: 5rem 0;
    }
}

// Account
.woocommerce-MyAccount-navigation {
    ul {
        padding-left: 0;
        list-style: none;

        li {
            margin-bottom: 5px;

            &.is-active {
                a {
                    background: theme-color('primary');
                    font-weight: bold;
                }
            }

            a {
                width: 100%;
                display: block;
                color: theme-color('secondary');
                background: theme-color('light-grey');
                transition: all 0.3s ease-in-out;
                padding: 10px;

                @include media-breakpoint-up(md){
                    padding: 20px;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

// Account grid overrides
.woocommerce-MyAccount-content {
    .col-1, .col-2 {
        width: 100% !important;
        flex: none !important;
        max-width: 100%;
        padding: 0 !important;
        margin-bottom: 3rem;
    }

    a:not(.woocommerce-Button) {
        color: theme-color('dark-grey');
        text-decoration: underline;
    }

    p {
        &:first-of-type {
            margin-bottom: 3rem;
        }
    }

    h2 {
        margin-top: 20px;
        color: theme-color('primary');
    }

    &-header {
        background: theme-color('light-grey');
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 40px;

        h2 {
            margin: 0;
        }
    }

    .woocommerce-MyAccount-content-print {
        margin-bottom: 20px;
    }

    .shop_table {
        width: 100%;

        td, th {
            border: 1px solid #EDEDED;
            padding: 10px;
        }
    }

    button[type="submit"] {
        @extend .btn;
        @extend .btn--primary;
    }
}

// Login wrap
.login-wrap {
    @include media-breakpoint-down(sm){
        padding: 0 !important;
        border: none !important;
    }
}

// Pay, view, cancel
.woocommerce-orders-table__cell {
    .woocommerce-button {
        @extend .mx-2;
    }
}

// orders
.woocommerce-MyAccount-orders {
    width: 100%;
    border: 1px solid #EDEDED;

    td {
        border: 1px solid #EDEDED;
        padding: 10px;
    }
}

.woocommerce-Pagination {
    margin-top: 20px;
}

.order-again {
    margin-bottom: 40px;

    a {
        @extend .btn;
        @extend .btn--primary;
        margin-top: 20px;
    }
}

@media print {
    .site-header, .site-footer, .woocommerce-MyAccount-navigation, .x3-blocks, .social-list, .woocommerce-MyAccount-content-print, .order-again a {
        display: none;
    }

    .my-account .col-lg-9 {
        width: 100% !important;
    }

    .my-account .col-lg-3 {
        display: none;
    }

    .my-account .woocommerce > .container > .bg-white > .row:first-of-type {
        display: none;
    }

    .woocommerce-MyAccount-content {
        &-header {
            padding: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            background: transparent;
        }
    }
}
