.product-listing-content {
    overflow: hidden;
    position: relative;

    &__more {
        width: 100%;
        min-height: 5rem;
        border: 0;
        background: theme-color('secondary-light');
        color: theme-color('secondary');
        box-shadow: 0px -10px 25px 0px rgba(219,231,232,1);
        position: absolute;
        bottom: 0;
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        &::before,
        &::after {
            content: "";
            background: theme-color('secondary');
            display: block;
            width: 12rem;
            height: 1px;
        }

        &::before {
            margin-bottom: 1rem;
        }

        &::after {
            margin-top: 1rem;
        }
    }
}

.products-container {
    transition: opacity .3s ease;

    &--loading {
        opacity: .5;
    }

    &--categories {
        ul.products {
            .product {
                @include media-breakpoint-up(xl) {
                    flex: 0 1 25%;
                }

                @media (min-width: 1500px) {
                    flex: 0 1 20%;
                }
            }
        }
    }
}

.woocommerce-result-count {
    margin: 0;
    @extend .font-heading;
}

.woocommerce-ordering {
    position: relative;
    width: 100%;

    @include media-breakpoint-up(lg) {
        width: auto;
    }

    &__icon {
        position: absolute;
        left: 1.5rem;
        top: 50%;
        transform: translate(0, -50%);
        pointer-events: none;

        @include media-breakpoint-up(lg) {
            left: 0;
        }
    }

    .orderby {
        cursor: pointer;
        display: inline-block;
        background: theme-color('lightest-grey');
        border: 2px solid darken(theme-color('lightest-grey'), 5%);
        color: theme-color('secondary');
        padding: 1.5rem 2rem 1.5rem 4.5rem;
        width: 100%;
        appearance: none;
        border-radius: 0;
        @include font-size(16px);
        @extend .font-heading;

        @include media-breakpoint-up(lg) {
            padding: 1.5rem 2rem;
            background: transparent;
            border: 0;
        }

        &:focus {
            outline: none;
        }
    }
}

ul.products {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;

    .product {
        flex: 0 1 100%;
        padding: 0 1rem;
        margin-bottom: 3rem;
        overflow: hidden;

        @include media-breakpoint-up(sm) {
            flex: 0 1 50%;
        }

        @include media-breakpoint-up(md) {
            flex: 0 1 33.333%
        }

        @include media-breakpoint-up(lg) {
            flex: 0 1 25%
        }

        .price {
            @extend .p;
        }

        .woocommerce-product-rating {
            margin: 1rem 0;
        }
    }

    &--col4 {
        .product {
            flex: 0 1 50%;

            @include media-breakpoint-up(lg) {
                flex: 0 1 25%;
            }
        }
    }
}

.product {
    > a {
        position: relative;
        display: block;
        cursor: pointer;
        overflow: hidden;
        border: 1px solid theme-color('light-grey');
        background: white;
        padding: 2rem;

        img {
            @extend .img-fluid;
            width: 100%;
            transition: transform .3s ease;
        }

        .btn {
            @include media-breakpoint-down(sm) {
                padding: 1.5rem;
            }
        }

        &:hover {
            text-decoration: none;

            img {
                transform: scale(1.05);
            }
        }
    }

    .onsale, .newproduct {
        position: absolute;
        top: 1.5rem;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding: .5rem 1rem;
        font-size: 12px;
        line-height: 1;
        z-index: 1;
        border: 0;
    }

    .onsale {
        right: 1.5rem;
        background: theme-color('primary');
    }

    .newproduct {
        left: 1.5rem;
        background: theme-color('tertiary');
    }

    &.product-category {
        > a {
            height: 100%;
            display: flex;
            flex-flow: column;

            img {
                margin-bottom: 2rem;
            }

            .woocommerce-loop-category__title {
                @extend .h5;
                color: theme-color('secondary');
                margin-bottom: 3rem;
            }

            .category_from_price-label{
                margin-top: -1rem;
            }

            .btn {
                margin-top: auto;
                min-width: 0;
            }
        }
    }
}

// Archive page specific

.tax-product_cat {
    .woocommerce-breadcrumb {
        padding: 0;
    }
}

.archive-additional {
    @extend .mst-2;
    @extend .pst-2;
    border-top: 1px solid theme-color('light-grey');
}
