$label-size: 80px;

.shop-table {
    width: calc(100% - #{$label-size});
    text-align: left;
    margin-left: $label-size;

    @include media-breakpoint-up(lg) {
        margin-left: 0;
        width: 100%;
    }

    th {
        padding: 15px 0;
        display: none;
        border-bottom: 1px solid theme-color('light-grey');
        @extend .font-heading;

        @include media-breakpoint-up(lg) {
            display: table-cell;
        }
    }

    &__item {
        td {
            display: block;
            position: relative;
            border-right: 1px solid theme-color('light-grey');
            border-bottom: 1px solid theme-color('light-grey');
            padding: 15px;

            @include media-breakpoint-up(lg) {
                display: table-cell;
                border-right: 0;
                border-bottom: 1px solid theme-color('light-grey');
                padding: 25px 0;

                &:first-of-type {
                    padding-left: 0;
                }

                &:last-of-type {
                    padding-right: 0;
                }
            }

            &::before {
                display: flex;
                position: absolute;
                left: -$label-size;
                top: -1px;
                align-items: center;
                justify-content: center;
                border: 1px solid theme-color('light-grey');
                color: theme-color('secondary');
                width: $label-size;
                height: calc(100% + 2px);
                font-weight: normal;
                background: theme-color('lightest-grey');
                @include font-size(10px);

                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }

            &:first-of-type {
                border-top: 1px solid theme-color('light-grey');

                @include media-breakpoint-up(lg) {
                    border-top: 0;
                }
            }

            &:last-of-type {
                margin-bottom: 15px;

                &::before {
                    border-bottom: 1px solid theme-color('light-grey');
                }

                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }
        }

        &-thumb {
            @include media-breakpoint-up(lg) {
                width: 200px;
            }

            &::before {
                content: "Image";
            }

            img {
                width: 100px;
                height: auto;
                margin: 5px 0;

                @include media-breakpoint-up(lg) {
                    width: 150px;
                }
            }
        }

        &-name {
            &::before {
                content: "Product";
            }

            a {
                max-width: 180px;
                display: inline-block;
                font-weight: bold;
                color: theme-color('secondary');

                &:hover {
                    color: theme-color('primary');
                    text-decoration: none;
                }
            }

            .variation {
                dt {
                    margin-top: 10px;
                    font-weight: normal;
                }

                dd {
                    margin: 0;

                    p {
                        @include font-size(10px);
                    }
                }
            }
        }

        &-price {
            &::before {
                content: "Price";
            }
        }

        &-subtotal {
            color: theme-color('secondary');
            font-weight: bold;

            &::before {
                content: "Subtotal";
            }
        }

        &-quantity {
            &::before {
                content: "Quantity";
            }

            input {
                border-radius: global-var('border-radius');
                border: 2px solid theme-color('light-grey');
                color: theme-color('secondary');
                padding: 1rem 1.5rem;

                @include media-breakpoint-up(lg) {
                    padding: 1.5rem;
                }

                &:focus {
                    outline: none;
                    border-color: darken(theme-color('light-grey'), 10%);
                }
            }
        }

        &-remove {
            &::before {
                content: "Remove";
            }

            a {
                color: theme-color('secondary');

                &:hover {
                    color: theme-color('primary');
                }
            }
        }
    }
}

.total-table {
    width: 100%;

    tr {
        th, td {
            padding: 1rem 0;
        }

        td {
            text-align: right;
            padding-left: 30px;
        }
    }
}

.shipping-calculator-form {
    margin-top: 2rem;
    text-align: left;

    .button {
        @extend .btn;
        @extend .btn--sm;
    }
}

.woocommerce-cart-form {
    .cart-totals {
        border-radius: global-var('border-radius');
        border: 2px solid theme-color('light-grey');
        padding: 3rem;
        background: theme-color('lightest-grey');

        @include media-breakpoint-up(md) {
            padding: 4.5rem;
        }
    }

    .wc-proceed-to-checkout {
        margin-top: 3rem;

        a {
            width: 100%;
            display: block;
            text-align: center;
            @extend .btn;
            @extend .btn--primary;
        }
    }

    .woocommerce-remove-coupon {
        margin-left: .5rem;
    }

    .coupon-input {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: flex-end;

        input {
            &[type="text"] {
                width: 100%;
                display: block;
                border-radius: global-var('border-radius');
                border: 2px solid theme-color('light-grey');
                background: transparent;
                padding: 1rem 1.5rem;

                @include media-breakpoint-up(lg) {
                    padding: 1.5rem;
                }

                &:focus {
                    outline: none;
                    border-color: darken(theme-color('light-grey'), 10%);
                }
            }

            &[type="submit"] {
                margin-top: 1.5rem;
                width: 100%;
            }
        }
    }
}

.return-to-shop {
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;

    a {
        color: theme-color('dark-grey');
    }
}

.woocommerce-shipping-methods {
    list-style-type: none;
    padding-left: 0;
}

#shipping_method {
    list-style-type: none;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #efefef;
        padding: 1rem;
        @include font-size(14px);

        &:nth-of-type(even) {
            background: #f3f3f3;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        input {
            margin-right: 20px;
        }

        label {
            font-weight: bold;
            @include font-size(14px);

            > span {
                display: block;
                margin-top: .5rem;
                font-weight: normal;
            }
        }
    }
}

.cross-sells {

    h2 {
        margin-bottom: 3rem;
        font-size: 3rem;
    }

    .p {
        font-size: 1.2rem;
    }

    .product {
        > a {
            padding: 0;
            border: none;
        }
    }

    .pt-4{
        padding-top: 0.75rem !important;
    }

}

.cart-vat-declaration{

    &-full-terms {
        padding: 1rem 1rem 0.5rem 1rem;
        border-radius: global-var('border-radius');
        background-color: theme-color('lightest-grey');

        &-show,
        &-hide{
            cursor: pointer;
        }
    }
}
