// Form rows

.form-row {
    flex-flow: column;
    margin: 0 0 3rem 0;

    &#billing_address_1_field, &#shipping_address_1_field {
        margin-bottom: 1.5rem;
    }

    select {
        appearance: none;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    select,
    textarea {
        display: block;
        width: 100%;
        border: 2px solid theme-color('light-grey');
        border-radius: global-var('border-radius');
        color: theme-color('secondary');
        padding: 1rem 1.5rem;

        @include media-breakpoint-up(lg) {
            padding: 1.5rem;
        }

        &:focus {
            outline: none;
            border-color: darken(theme-color('light-grey'), 10%);
        }
    }

    .button {
        @extend .btn;
    }
}

input[type="checkbox"] {
    padding: 5px !important;
}

// Checkboxes

.form-row, .woocommerce-shipping-fields {
    label {
        &.checkbox, &.woocommerce-form__label-for-checkbox {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            input, span {
                display: inline-block;
                width: auto;
            }

            span {
                margin-left: 1rem;
            }
        }
    }
}

// Headers

.woocommerce-checkout-form {
    h3 {
        @extend .h5;
        @extend .mb-5;

        label {
            > input {
                margin-right: 1.5rem;
            }
        }
    }
}

// Messages

.woocommerce-checkout {
    .woocommerce-info {
        margin-bottom: 30px;
    }

    .woocommerce-form-login {
        display: block !important;
        background: white;
        padding: 1.5rem;
        border: 1px solid theme-color('light-grey');

        @include media-breakpoint-up(sm) {
            padding: 3rem;
        }

        > p:first-of-type {
            font-weight: 100;
        }

        button {
            max-width: 30rem;
            margin: 2rem 0 0 !important;
        }
    }
}

// Mailchimp

.form-row {
    &.mailchimp-newsletter,
    &.create-account {
        flex-direction: row;
        align-items: center;

        .woocommerce-form__input-checkbox {
            margin-right: 1.5rem;
        }

        .woocommerce-form__label-for-checkbox {
            @extend h3;

            line-height: 1;

            &.inline{
                margin-bottom: 0 !important;
            }
        }
    }

    @media (min-width: 992px) {
        &.mailchimp-newsletter{
            margin-bottom: 6rem !important;
        }
    }
}

// Separate address section

.woocommerce-shipping-fields {
    margin-top: 30px;

    //@include media-breakpoint-up(lg) {
    //    margin-top: 60px;
    //}
}

// Select2

.select2-container--default {
    &:focus {
        outline: none;
    }

    span, input {
        &:focus {
            outline: none;
        }
    }

    .select2-search--dropdown {
        padding: 5px 5px 15px 5px;

        .select2-search__field {
            border: 2px solid theme-color('light-grey');
            border-radius: global-var('border-radius');
            padding: 1.5rem;
        }
    }

    .select2-dropdown {
        border: 2px solid theme-color('light-grey');
        border-bottom-left-radius: global-var('border-radius');
        border-bottom-right-radius: global-var('border-radius');
    }

    .select2-selection--single {
        height: 62px;
        border: 2px solid theme-color('light-grey');
        border-radius: global-var('border-radius');

        .select2-selection__rendered {
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 1.5rem;
            line-height: 47px;
        }

        .select2-selection__arrow {
            height: 60px;
            right: 1.5rem;
        }
    }
}

// Order review

#order_review {
    padding: 15px;
    border: 2px solid theme-color('light-grey');
    border-radius: global-var('border-radius');
    background: theme-color('lightest-grey');

    @include media-breakpoint-up(sm) {
        padding: 30px;
    }

    table {
        width: 100%;

        tbody {
            tr {
                td {
                    text-align: left;

                    &:last-of-type {
                        text-align: right;
                        vertical-align: top;
                    }
                }
            }
        }

        thead {
            tr {
                th.product-total {
                    text-align: right;
                }
            }
        }

        tfoot {
            tr {
                td {
                    text-align: right;
                }

                &:first-of-type {
                    th, td {
                        padding-top: 50px !important;
                    }
                }
            }
        }

        tr {
            th, td {
                padding: 15px 0;
                border-bottom: 1px solid theme-color('light-grey');

                @include media-breakpoint-up(lg) {
                    &:not(.product-name):not(.product-total) {
                        padding: 30px 0;
                    }
                }
            }

            &.cart_item {
                td {
                    font-weight: bold;
                    border-bottom: 0;

                    .variation {
                        font-weight: normal;
                        text-transform: none;
                        margin: 1rem 0;
                        font-size: 12px;

                        dt {
                            margin-bottom: .5rem;
                            font-weight: normal;
                        }

                        dd {
                            p {
                                font-size: 10px;
                                font-weight: bold;
                                margin: 0;
                            }
                        }
                    }
                }
            }

            &.cart-subtotal {
                th, td {
                    border-top: 1px solid theme-color('lightest-grey');
                }
            }

            .woocommerce-remove-coupon {
                margin-left: 1rem;
            }
        }

        tbody {
            tr {
                &:first-of-type {
                    td {
                        padding-top: 30px !important;
                    }
                }

                &:last-of-type {
                    td {
                        padding-bottom: 30px !important;
                    }
                }
            }
        }
    }
}

.form-row.place-order {
    margin: 0;

    button {
        @extend .btn;
    }
}

.wc_payment_methods {
    margin-bottom: 0;
    padding-left: 0;
}

.wc_payment_method {
    display: block !important;
    margin: 0 !important;
    padding: 30px 0;
    border-bottom: 1px solid theme-color('lightest-grey');

    &::before {
        display: none;
        padding: 0;
    }

    label {
        font-weight: bold;
        margin: 0;
    }

    input[type="radio"] {
        margin-right: 1rem;
    }

    p, a {
        font-style: italic;
        margin: 0;
        color: theme-color('secondary');
    }

    a {
        text-decoration: underline;
    }

    .payment_method_icon {
        display: flex;

        img {
            display: block;
            max-width: 100%;
            margin: 15px 0 15px 5px;

            @include media-breakpoint-up(sm) {
                max-width: 200px;
            }
        }
    }

    &.payment_method_paypal {
        .payment_method_icon {
            display: block;
        }
    }

    &:last-of-type {
        border-bottom: 0;
    }
}

// Form defaults
.checkout {
    form {
        &.login {
            > p:first-child {
                @include media-breakpoint-up(lg) {
                    max-width: 58.333%;
                }
            }
        }
    }
}

form {
    &.checkout_coupon {
        padding-left: 1.5rem;

        @include media-breakpoint-up(sm) {
            max-width: 350px;
        }
    }
    #our_mailing_subscribe_field {
        input {
            margin-right: 10px;
        }
    }
}

.woocommerce-order {
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem;
    background: theme-color('lightest-grey');
    border: global-var('border-width') solid theme-color('primary');
    border-radius: global-var('border-radius');

    table {
        width: 100%;

        th, td {
            padding-bottom: 3rem;
            padding-right: 2rem;

            &:last-child {
                padding-right: 0;
            }
        }

        tr {
            td {
                a {
                    color: black;
                    text-decoration: underline;
                }
            }

            .wc-item-meta {
                list-style-type: none;
                padding: 0;
                margin: 1rem 0 0;

                li, li p {
                    font-size: 12px;
                }
            }

            &.cart_item {
                td {
                    padding: 1rem 0;

                    &.product-total {
                        padding-left: 2rem;
                    }
                }

                &:last-of-type {
                    td {
                        padding-bottom: 5rem;
                    }
                }
            }
        }
    }

    .col-1,
    .col-2 {
        flex: unset;
        max-width: 100%;
        padding: 0;
    }

    .woocommerce-thankyou-order-received {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 4rem;
    }

    h2 {
        @extend .h3;
        margin-top: 5rem;
    }
}

// Checkout Totals

.total-table {
    tr td {
        @include media-breakpoint-down(sm) {
            text-align: right;
        }
    }
}

// login form

.checkout-login-form {
    display: none;
    padding: 0;
    border: 0;
    margin-bottom: 30px;

    p {
        &:first-of-type {
            margin-bottom: 30px;
        }
    }

    button {
        @extend .mb-4;
        @extend .btn;
    }
}

.checkout-login-accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
        width: 58.333%;
    }

    .icon-plus {
        display: block;
    }
    .icon-minus {
        display: none;
    }

    &.accordion-open {
        .icon-plus {
            display: none;
        }
        .icon-minus {
            display: block;
        }
    }
}

// Follow up checkbox

.followup-checkout {
    display: none;

    p {
        @extend .h5;

        label {
            > input {
                margin-right: 1.5rem;
            }
        }
    }
}

// VAT Declaration

.form-row {
    &--declaration,
    &--declaration-warning{
        margin: 2rem 0 0;
        padding: 2rem 0 0;
        border-top: 1px solid theme-color('primary-dark');
        font-weight: bold;
    }

    &--declaration{

        label {
            input {
                margin-right: 1.5rem;
            }

            .optional {
                display: none !important;
            }
        }
    }

    &--declaration-short{
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }

    &--declaration-warning{
        margin-bottom: 2rem;
    }
}


