// archive page filter

.product-filter {
    @include media-breakpoint-down(md) {
        position: fixed;
        left: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        z-index: 1000;
        background: white;
        overflow-y: auto;
        transform: translate(-100%, 0);
        transition: transform .8s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &__header {
        @include media-breakpoint-down(md) {
            background: theme-color('lightest-grey');
            padding: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    &__close {
        padding: 0;
        background: transparent;
        border: 0;
        box-shadow: none;
    }

    &__search {
        position: relative;

        @include media-breakpoint-down(md) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        input {
            background: white;
            border: 1px solid theme-color('light-grey');
            display: block;
            width: 100%;
            padding: 1.5rem 4.5rem 1.5rem 1.5rem;
            @include font-size(14px);

            @include media-breakpoint-up(lg) {
                @include font-size(16px);
                border-color: theme-color('mid-grey');
            }

            &:focus {
                border-color: theme-color('dark-grey');
            }
        }

        &-submit {
            position: absolute;
            top: 0;
            right: 1.5rem;
            height: 100%;
            width: 5rem;
            background: transparent;
            border: 0;

            @include media-breakpoint-up(lg) {
                right: 0;
            }
        }
    }

    &__applied {
        display: flex;
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
            padding: 0 1.5rem;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: theme-color('dark-grey');
            margin-bottom: .5rem;

            span {
                display: inline-block;
            }

            &-label {
                background: theme-color('primary');
                padding: .8rem 1.5rem;
                @include font-size(12px);
            }

            &-remove {
                cursor: pointer;
                padding: .8rem;
            }
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        margin: 0 0 .5rem;
        padding: .5rem 0;
        position: relative;
        width: 100%;

        input[type="checkbox"] {
            @extend .stretch-container;
            opacity: 0;
            z-index: 1;
            cursor: pointer;

            &:checked {
                & + label {
                    text-decoration: underline;
                    color: theme-color('primary-darkest');
                }
            }
        }

        label {
            display: flex;
            margin: 0;
            width: 100%;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__count {
        margin-left: auto;

        &::before {
            content: '(';
        }

        &::after {
            content: ')';
        }
    }
}

// archive page accordion

.accordion {
    &--filter {
        @include font-size(14px);

        @include media-breakpoint-up(lg) {
            @include font-size(16px);
        }

        .card {
            background: white;
            border: 1px solid theme-color('mid-grey');
            border-radius: 0;
            @extend .font-heading;

            @include media-breakpoint-down(md) {
                border-left: 0;
                border-right: 0;
                border-color: theme-color('light-grey');
            }

            &-header, &-header button {
                border: 0;
                border-radius: 0;
                margin: 0;
                background: transparent;
            }

            &-header {
                padding: 0;

                button {
                    display: block;
                    width: 100%;
                    padding: 1.5rem;
                    text-align: left;
                    letter-spacing: 1px;
                    font-weight: bold;
                    color: theme-color('secondary');

                    &::after {
                        content: "";
                        position: absolute;
                        right: 1.5rem;
                        top: 1.7rem;
                        color: theme-color('dark-grey');
                        @include font-size(22px);
                        border-right: 2px solid theme-color('dark-grey');
                        border-bottom: 2px solid theme-color('dark-grey');
                        transform: rotate(-135deg);
                        width: 1rem;
                        height: 1rem;
                        transition: transform .3s ease;
                    }

                    &.collapsed {
                        font-weight: normal;

                        &::after {
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            &-body {
                padding: 1.5rem;
            }
        }
    }
}

// range slider

.noUi {
    &-target {
        border-radius: 0;
        background: theme-color('light-grey');
    }

    &-connect {
        background: theme-color('primary');
    }

    &-handle {
        border-radius: 50%;
        padding: 0;
        width: 25px !important;
        height: 25px !important;

        &:focus {
            outline: none;
        }

        &:before, &:after {
            display: none;
        }
    }

    &-horizontal {
        .noUi-handle {
            top: -5px !important;
        }
    }
}

// Price button

#filter-price-btn {
    border-radius: 2rem;
    padding: .5rem 2rem;
    box-shadow: none;
    border: 1px solid darken(theme-color('lightest-grey'), 5%);
    background: theme-color('lightest-grey');
    margin-top: 2rem;
}

// mobile toggles

.filter-toggle {
    display: block;
    position: relative;
    background: theme-color('lightest-grey');
    border: 2px solid darken(theme-color('lightest-grey'), 5%);
    color: theme-color('dark-grey');
    padding: 1.5rem 2rem 1.5rem 4.5rem;
    width: 100%;
    cursor: pointer;
    @extend .font-heading;

    i {
        position: absolute;
        top: 50%;
        left: 1.5rem;
        transform: translate(0, -50%);
    }

    span {
        margin-top: 3px;
    }
}

.woocommerce-result-count {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

body {
    &.filter-open {
        overflow-y: hidden;

        .product-filter {
            transform: translate(0, 0);
            box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.15);
        }
    }
}
