// Single

.single-product {

    @include media-breakpoint-down(md) {
        .promo-strips {
            display: none;
        }
    }

    .woocommerce-breadcrumb {
        background: theme-color('light-grey');
    }

    .product_title {
        @extend .h3;
        font-weight: bold;
        color: theme-color('secondary');

        .prefix,
        .brand {
            @extend .h5;
        }

        .prefix{
            font-weight: normal;
        }

    }

    .product_sku{
        display: block;
        margin-bottom: 0.5rem;

        &__label{
            font-weight: bold;
            padding-right: 0.5rem;
        }
    }

    .product_magnetic_message_short{
        margin-top: 1rem;
    }

    .wc-pao-addon-container {
        padding: 2rem;
        margin: 1rem 0;
        border-radius: global-var('border-radius');
        background: darken(theme-color('light-grey'), 5%);
        border: 2px solid darken(theme-color('light-grey'), 10%);

        > * {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .wc-pao-addon-wrap{
            p, label {
                margin: 0;
                font-size: 1.4rem;
            }

            > div{
                margin: 0;
                display: flex !important;
                align-items: center;

                label {
                    font-weight: bold;
                }
                input {
                    margin-right: 1rem;
                }
            }
        }

        .clear {
            display: none;
        }

        .wc-pao-addon-description{
            font-style: normal;
        }

    }



    .product-addon-totals {
        ul {
            padding-left: 0;

            .wc-pao-subtotal-line {
                margin-top: 0;

                .price {
                    .amount {
                        margin-left: 2rem;
                    }
                }
            }
        }
    }

    .wcppec-checkout-buttons {
        margin-top: 0;
    }

    .product-single-main {
        @include media-breakpoint-up(lg) {
            padding-left: 3rem;
            padding-top: 2rem;
        }

        .price:not(.subscription-price),
        .single-variation_from,
        .single_variation_wrap {
            @extend .font-heading;
            @extend .h4;
            margin: 0;
            display: inline-block;
            font-weight: normal;
        }

        .single-variation_from,
        .single_variation_wrap {
            width: 100%;
        }

        .single-variation_from{
            .from{
                display: block;
                font-size: 1rem;
            }
        }

        .price {

            del {
                text-decoration: line-through;
                color: lighten(theme-color('mid-grey'), 10%);
            }

            ins {
                color: theme-color('primary-dark');
                font-weight: bold;
                padding-left: .5rem;
                text-decoration: none;
            }

            .price-wrapper{
                &__inc{
                    .amount,
                    del,
                    ins {
                        @extend .p;
                    }
                }
            }
        }

        .woocommerce-price-suffix{
            display: inline-block;
            padding-left: 0.5rem;

            &__ex{
                font-size: 1.25rem;
            }

            &__inc{
                font-size: 1.0rem;
            }
        }

        .price-wrapper__notexempt{
            &.price-wrapper__ex {
                display: none;
            }

            &.price-wrapper__inc {
                bdi{
                    @extend .h4;
                    font-weight: normal;
                }
            }
        }

        .woocommerce-grouped-product-list{
            .woocommerce-price-suffix__ex{
                display: block;
                padding-left: 0;
                font-size: 1.1rem;
                white-space: break-spaces;
            }
        }


        .product-grouped-tax-notice{
            margin: 1rem 0;
            p{
                margin-bottom: 0;
                font-size: 1.25rem;
            }

            .woocommerce-price-suffix{
                padding-left: 0;
                font-weight: bolder;
                font-size: inherit !important;
            }

        }

        .woocommerce-product-rating {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 0;
            border-top: 1px solid theme-color('light-grey');
            border-bottom: 1px solid theme-color('light-grey');
            margin: 2rem 0 1rem 0;
        }
    }

    .product-simple-price {
        border-top: 1px solid darken(theme-color('light-grey'), 10%);
        margin: 2rem 0;
    }

    .product-type-simple {
        .price {
            margin-bottom: 0;
        }

        .stock {
            margin-bottom: 0;
        }
    }

    .woocommerce-variation-description {
        display: none !important;
    }

    table.variations {
        display: block;
        width: 100%;
        margin-bottom: 3rem;

        tbody,
        tr,
        td{
            display: block;
            width: 100%;
        }

        td {
            &.label {
                font-weight: bold;
                padding-bottom: 0.5rem;
            }

            &.value {
                padding-bottom: 1rem;
                position: relative;

                &::after {
                    content: "";
                    width: 1.3rem;
                    height: 1.3rem;
                    border-right: 3px solid theme-color('dark-grey');
                    border-bottom: 3px solid theme-color('dark-grey');
                    position: absolute;
                    right: 2rem;
                    top: 35%;
                    transform: rotate(45deg);
                    pointer-events: none;
                }
            }
        }
    }

    .single-variation__prices {
        margin: 2rem 0 0 0;
        padding: 1.5rem 0;
        border-top: 1px solid darken(theme-color('light-grey'), 10%);

        .stock {
            margin: 0;
        }

        .woocommerce_custom_field {
            @extend .p-xs;
            @extend .text-italic;
            margin-top: .5rem;

            span {
                &::before {
                    content: "£";
                }
            }
        }
    }

    .single-variation_from,
    .woocommerce-variation.single_variation {
        transition: height .3s ease;
    }

    .reset_variations {
        display: none !important;
    }

    .woocommerce-review-link {
        color: theme-color('secondary');
        @include font-size(12px);
    }

    .stock {
        font-weight: bold;
        color: theme-color('error');

        &.in-stock, &.available-on-backorder {
            color: theme-color('success');
        }
    }

    select, input[type="number"] {
        box-shadow: none;
        background: transparent;
        -webkit-appearance: none;
        padding: 2rem;
        width: 100%;
        display: block;
        margin: 0;
        border: 2px solid theme-color('secondary');
        border-radius: global-var('border-radius');
        transition: border-color .3s ease;

        &:focus {
            outline: none;
            border-color: theme-color('primary-dark');
        }
    }

    .cart button[type="submit"] {
        @extend .btn;
        background-color: theme-color('primary');
        color: white;
        padding: 2rem;
        width: 100%;
        margin: 1rem 0;
    }

    .shop_attributes {
        width: 100%;
        border: 1px solid darken(theme-color('light-grey'), 10%);

        tr {
            th, td {
                padding: 1rem;
                border: 1px solid darken(theme-color('light-grey'), 10%);

                p {
                    margin: 0;
                    line-height: normal;
                }
            }

            &:nth-of-type(odd) {
                background: theme-color('lightest-grey');
            }
        }
    }

    &__bullets {
        padding-left: 2rem;

        li {
            color: darken(theme-color('light-grey'), 10%);
            margin-bottom: 1rem;

            span {
                color: theme-color('dark-grey');
            }
        }
    }

    &__instructions {
        @extend .list-clear-all;
        display: flex;
        flex-wrap: nowrap;

        li {
            flex: 0 1 25%;
        }

        img {
            height: 3.5rem;
            margin-bottom: 1rem;
            display: block;
        }
    }

    .related-products-wrap {
        overflow: hidden;
    }

    .related-products {
        margin: 0 -1rem;
        padding: 0 2rem;

        @include media-breakpoint-up(md) {
            padding: 0;
        }

        .woocommerce-product-rating {
            margin: 1rem 0;
        }

        .woocommerce-review-link {
            display: none;
        }

        .slick-track {
            margin: 0;
        }

        .slick-arrow {
            background: white;
            width: 4rem;
            height: 4rem;
            top: 40%;
            border: 2px solid theme-color('secondary');
            border-radius: global-var('border-radius');

            @include media-breakpoint-up(lg) {
                width: 6rem;
                height: 6rem;
            }

            &--prev {
                left: 1rem;

                @include media-breakpoint-up(lg) {
                    left: -3rem;
                }

            }

            &--next {
                right: 1rem;

                @include media-breakpoint-up(lg) {
                    right: -3rem;
                }
            }
        }

        .slick-slide {
            opacity: .3;
            transition: opacity .3s ease;

            &.slick-active {
                opacity: 1;
            }
        }

        .product {
            padding: 0 1rem;

            span.price{
                display: block;

                > div.price{
                    display: inline-block;
                }
            }

            .currencySymbol{
                display: none;
            }

            .woocommerce-Price-amount {
                .currencySymbol{
                    display: inline-block;
                }
            }

            .price-wrapper__exempt{
                .woocommerce-price-suffix{
                    display: none;
                }

                &.price-wrapper__inc{
                    display: none;
                }
            }
            .price-wrapper__notexempt{

                .woocommerce-price-suffix{
                    display: none;
                }

                &.price-wrapper__ex{
                    display: none;
                }
            }
        }
    }

    .woocommerce-grouped-product-list {
        width: 100%;
    }

    .woocommerce-grouped-product-list-item__quantity {
        width: 7rem;

        .qty {
            padding: 1rem 0.25rem 1rem 1rem;
        }

        a.button {
            display: none;
        }
    }

    .woocommerce-grouped-product-list-item__label,
    .woocommerce-grouped-product-list-item__price {
        padding: 1rem 2rem;
    }

    .woocommerce-grouped-product-list-item__price {
        min-width: 16rem;

        ins {
            color: theme-color('primary-dark');
            text-decoration: none;
            font-weight: bold;
        }
    }

    .woocommerce-product-details__short-description {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @extend .h5;
        }
    }

    .tab-card-description {
        h2 {
            @extend .h3;
        }

        h3 {
            @extend .h4;
        }

        h4 {
            @extend .h5;
        }
    }
}

.product-back-to-top-wrap{
    margin: 2% 0;

    @include media-breakpoint-up( lg ){
        margin-top: -2%;
    }
}

// Slider

.single-product,
.post-type-archive-product,
.tax-product_cat {
    .product-gallery {
        display: flex;
        flex-direction: column;
        margin-left: -1.5rem;
        margin-right: -1.5rem;

        &__slider {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            display: inline-block;

            &-item {
                padding: 2rem;
                background: white;

                > div {
                    position: relative;
                    padding-bottom: 100%;
                }

                &-image {
                    @extend .stretch-container;
                    @extend .bg-cover;
                    background-size: contain;
                    border: 0;
                }

                &-enlarge {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    margin: 0;
                    height: 4.5rem;
                    width: 4.5rem;

                    @include media-breakpoint-up(md) {
                        height: 6rem;
                        width: 6rem;
                    }
                }
            }

            &--nav {
                display: none;
                padding-left: 1rem;
                padding-right: 1rem;

                @include media-breakpoint-up(md) {
                    display: block;
                }

                .slick-list {
                    margin-top: -1rem;
                    margin-bottom: -1rem;
                }

                .slick-track {
                    margin: 0;
                }

                .product-gallery__slider-item {
                    padding: 1rem;
                    margin: .5rem;
                    position: relative;
                    cursor: pointer;
                    opacity: .3;
                    transition: opacity .3s ease;

                    > div {
                        padding-bottom: 97%;
                    }

                    &.slick-current {
                        opacity: 1;
                    }
                }
            }

            &--main {
                width: 100%;

                @include media-breakpoint-up(md) {
                    margin-bottom: 1.5rem;
                }

                .slick-track, .slick-list {
                    height: 100%;
                }

                .slick-arrow {
                    position: absolute;
                    right: 3.5rem;
                    bottom: 2rem;
                    left: auto;
                    top: auto;
                    background: white;
                    padding: 0;
                    transform: none;
                    transition: background .3s ease;
                    margin: 0;
                    height: 4.5rem;
                    width: 4.5rem;

                    @include media-breakpoint-up(md) {
                        height: 6rem;
                        width: 6rem;
                    }

                    &--prev {
                        transform: translate(-100%, 0);
                    }

                    &.slick-disabled {
                        pointer-events: none;
                        background: rgba(255,255,255,0.6);
                    }
                }
            }
        }
    }
}

.post-type-archive-product,
.tax-product_cat {
    .product-gallery {
        padding: {
            left: 15px;
            right: 15px;
        }

        &__slider-item {
            > div {
                padding-bottom: 29%;
            }
        }

        .slick-dots {
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-100%);

            li {
                transform: scale(1);
                transition: transform 0.3s ease-in-out;

                &.slick-active {
                    transform: scale(1.35);
                }

                button {
                    background: #FFFFFF;
                }
            }
        }
    }
}

.product-gallery-video{
    display: flex;
    align-items: center;
    height: 100%;
}

// Reviews

.woocommerce-Reviews {
    .commentlist {
        list-style-type: none;
        padding: 0;
        margin: 0;

        > li {
            margin-bottom: 3rem;
            padding-bottom: 3rem;
            border-bottom: 1px solid theme-color('light-grey');
        }
    }

    .comment-text {
        margin-top: 1.5rem;
    }

    .comment_container {
        display: flex;

        img {
            margin-right: 3rem;
            border-radius: 50%;
        }

        .comment-text {
            .star-rating {
                @extend .p;
                margin-bottom: 0;
            }

            .meta {
                @extend .p-sm;
            }

            .description {
                @include media-breakpoint-up(lg) {
                    max-width: 90rem;
                }
            }
        }
    }
}

// Share modal

.share-buttons {
    .st-btn {
        @include media-breakpoint-down(md) {
            margin: 0 0 1rem 0 !important;
            width: 100% !important;
        }
    }
}

// Tabs

.product-brand-logo {
    width: 100%;
    max-width: 20rem;
    height: auto;
}

.tab-content{
    .shop_attributes a[rel="tag"] {
        color: theme-color('dark-grey');
        pointer-events: none;
    }

    ul,ol{
        @extend .list;
    }

    ul{
        @extend .list-ul;
    }
    ol{
        @extend .list-ol;
    }
}

.single-product .cart button:disabled[type="submit"] {
    pointer-events: none;
}

.tab-downloads {
    &__link {
        &,
        &:hover,
        &:active {
            text-decoration: none;
        }
    }
}

// Notice

.product-notice {
    border-radius: global-var('border-radius');
    background: darken(theme-color('light-grey'), 5%);
    border: 2px solid darken(theme-color('light-grey'), 10%);
    padding: 2rem;

    &--information {
        background: theme-color('light-grey');
        border-color: darken(theme-color('light-grey'), 4%);
    }

    &--declaration {
        background: theme-color('primary-light');
        border-color: theme-color('primary-dark');
    }

    &--vat-relief {
        background: theme-color('lightest-grey');
        border-color: darken(theme-color('lightest-grey'), 4%);
    }

    &--quicklink {
        background: $white;
        border-color: darken(theme-color('lightest-grey'), 4%);
    }

    p{
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

// Reviews

.woocommerce-noreviews {
    margin-bottom: 3rem;
}

#review_form_wrapper {
    .comment-reply-title {
        @extend .h3;
        display: block;
    }

    .comment-form-rating {
        > label {
            @extend .p;
        }
    }

    .stars {
        margin: 2rem 0 3rem;

        > span {
            display: flex;
            align-items: center;
            margin: 0 -1rem;

            > a {
                border: 1px solid theme-color('primary');
                border-radius: global-var('border-radius');
                color: theme-color('primary');
                width: 3rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 1rem;
                font-weight: bold;

                &:hover, &.active {
                    background: theme-color('primary');
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .comment-form-comment,
    .comment-form-author,
    .comment-form-email {
        margin-bottom: 1.5rem;

        input,
        textarea {
            border: 2px solid theme-color('light-grey');
            border-radius: global-var('border-radius');
            background: white;
            width: 100%;
            padding: 1rem 1.5rem !important;
            font-size: 1.6rem;
            height: auto;

            @include media-breakpoint-up(lg) {
                padding: 1.5rem !important;
            }

            &:focus {
                outline: none;
                border-color: darken(theme-color('light-grey'), 10%);
            }
        }
    }

    .comment-form-cookies-consent {
        margin-bottom: 1.5rem;

        input {
            margin-right: 1.5rem;
        }
    }
}

// product addons

#product-addons-total {
    display: none !important;
}

// Product subscriptions

ul.wcsatt-options-product {
    padding: 0;
    margin: 2rem 0 0;

    li {
        margin: 0 0 1rem !important;
    }
}

.wcsatt-options-product-prompt .wcsatt-options-prompt-text {
    margin: 1rem 0 1em;
}

@include media-breakpoint-down( md ) {
    .product-single-col-gallery{
        .product-notice,
        .product-notice-quicklinks{
            display: none !important;
        }
    }
}

@include media-breakpoint-up( lg ) {

    .product-single-col-gallery{
        .product-notice-quicklinks{
            margin-top: 1.6rem;
        }
    }

    .product-single-col-details{
        .product-notice,
        .product-notice-quicklinks{
            display: none !important;
        }
    }

}


