/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wpfm-unique-product {
  padding: 10px;
  background: rgba(240, 237, 247, 0.6784313725);
  margin: 10px;
  border-left: 3px solid #dfdbe7;
}

.rex_feed_features_text_pro {
  padding-bottom: 10px;
}

.rex_feed_features_text_pro h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 1.16;
  color: #216df0;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #eef4ff;
  text-transform: capitalize;
}

.rex_feed_features_text_pro .parent li {
  display: grid;
  gap: 13px;
  grid-template-columns: 1fr 13fr;
  align-items: start;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #697385;
  line-height: 1.2;
  padding-top: 19px;
  text-decoration: underline;
  transition: all 0.5s;
}

.rex_feed_features_text_pro .parent li:hover a {
  color: #216df0;
}

.rex_feed_features_text_pro .parent li a:focus {
  box-shadow: none;
  outline: 1px solid transparent;
}

/*Auto-generate only on wc product update*/
.rex_feed_update_on_product_change {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Product filter feed rules design  */
:root {
  --font-family-roboto-sans-serif: "Roboto", sans-serif;
  --color-primary-1: #1eb2fb;
  --color-base-1: #333333;
  --bg-color: #F6F8FA;
  --table-header-bg-color: #ffffff;
  --color-border: #FFFFFF;
}

.post-type-product-feed #rex_feed_product_filters .select2-container--default .select2-selection--single {
  padding: 5px 24px 5px 14px;
}

.post-type-product-feed #rex_feed_product_filters .rex-feed-rules-area .select2-container--default .select2-selection--single {
  max-width: 200px;
}

.rex-feed-rules-area__dropdown-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}
.rex-feed-rules-area__dropdown-menu .wpfm-pro-tag {
  top: -10px;
  left: 19px;
}

.wpfm-checkbox input[type=checkbox] {
  display: none !important;
}

.rex-feed-rules-area {
  padding: 30px 30px 20px;
}
.rex-feed-rules-area__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.rex-feed-rules-area__header label {
  font-family: var(--font-family-roboto-sans-serif);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-base-1);
  padding-right: 10px;
}
.rex-feed-rules-area__header a {
  font-size: 14px;
  font-weight: 500;
}
.rex-feed-rules-area__header a:hover {
  text-decoration: underline;
}
.rex-feed-rules-area__fine-brp {
  position: relative;
  background-color: var(--bg-color);
  padding: 17px 20px 20px 20px;
  border-radius: 10px;
  transition: all 0.3s;
}
.rex-feed-rules-area__fine-brp:hover {
  transition: all 0.3s;
}
.rex-feed-rules-area__fine-brp:hover .rex-feed-rules-area__delete {
  opacity: 1;
  visibility: visible;
}
.rex-feed-rules-area__delete {
  position: absolute;
  display: inline-block;
  top: -11px;
  right: -9px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.rex-feed-rules-area .rex_feed-tooltip {
  text-transform: none;
  position: relative;
  margin-left: 2px;
}
.rex-feed-rules-area .rex_feed-tooltip svg {
  top: unset;
}
.rex-feed-rules-area .rex_feed-tooltip p {
  position: absolute;
  top: 170%;
  left: -94px;
  transform: translateY(0%);
}
.rex-feed-rules-area .rex_feed-tooltip p::before {
  left: 50%;
  top: 0;
}
.rex-feed-rules-area .select2 {
  width: 100% !important;
}

.meta-box-sortables .flex-row select {
  max-width: 100%;
  width: 100%;
  border: 2px solid var(--color-border);
  box-sizing: border-box;
  border-radius: 6px;
  color: var(--color-base-1);
  font-size: 14px;
  line-height: 2;
  font-family: var(--font-family-roboto-sans-serif);
  font-style: normal;
  font-weight: 400;
  padding: 5px 24px 5px 14px;
  background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
}

.flex-table-header {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 0.8fr 1.5fr 0.5fr 1.5fr 0.4fr;
  grid-column-gap: 20px;
  transition: 0.5s;
  font-family: var(--font-family-roboto-sans-serif);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.857143px;
  text-transform: uppercase;
  color: var(--color-base-1);
  background-color: var(--table-header-bg-color);
  border-radius: 10px 10px 0 0;
  padding: 17px 22px;
  border-bottom: 1px solid var(--color-border);
}

.flex-row {
  display: inline-flex;
  align-items: center;
}
.flex-row:last-of-type {
  display: flex;
  gap: 16px;
}
.flex-row span {
  color: #fe4e4e;
}
.flex-row p {
  font-size: 12px;
}

.add-row svg:hover path {
  stroke: #1eb2fb;
}

.flex-table-body .flex-row.checkout-pos {
  position: relative;
  top: -11px;
}
.flex-table-body .dropdown-add-row,
.flex-table-body .add-row {
  position: relative;
  display: inline-flex;
  cursor: pointer;
}
.flex-table-body .wpfm-dropdown {
  position: absolute;
  right: 20px;
  top: -26px;
  width: 80px;
  border-radius: 10px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  background-color: #ffffff;
  border: 1px solid #e7e4ee;
  box-shadow: 0px 16px 30px rgba(9, 29, 39, 0.1);
}
.flex-table-body .wpfm-dropdown::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 42%;
  width: 8px;
  height: 8px;
  background: white;
  transform: rotate(45deg);
  z-index: 0;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}
.flex-table-body .wpfm-dropdown li {
  border-bottom: 1px solid #e7e4ee;
}
.flex-table-body .wpfm-dropdown li a {
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  color: #7a8b9a;
  padding: 10px 15px;
  margin: 0;
}
.flex-table-body ul.show-condition {
  opacity: 1;
  visibility: visible;
}
.flex-table-body .flex-table-row .condition-icon {
  position: relative;
}
.flex-table-body .flex-table-row .condition-icon .delete-row,
.flex-table-body .flex-table-row .condition-icon .remove-field {
  position: absolute;
  right: 0;
  opacity: 0;
  visibility: hidden;
}
.flex-table-body .flex-table-row .condition-icon:hover .delete-row,
.flex-table-body .flex-table-row .condition-icon:hover .remove-field {
  opacity: 1;
  visibility: visible;
}
.flex-table-body .flex-table-row:first-child .condition-icon .delete-row,
.flex-table-body .flex-table-row:first-child .condition-icon .remove-field {
  display: none;
}

.rex-feed-rules-area__fine-replace .flex-table-row,
.rex-feed-rules-area__fine-replace .flex-table-header {
  grid-template-columns: 1.5fr 1.5fr 0.8fr 1.5fr 0.5fr 1.5fr 0.4fr;
  align-items: center;
}

.rex-feed-rules-area__conditional-pricing .flex-table-row {
  padding-top: 55px;
}
.rex-feed-rules-area__conditional-pricing .flex-table-row::before {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 22px;
  width: 2px;
  height: 100%;
  background: #e5e8f3;
  z-index: 0;
}
.rex-feed-rules-area__conditional-pricing .flex-table-row .condition-symbol {
  position: absolute;
  top: -209%;
  right: -3px;
}
.rex-feed-rules-area__conditional-pricing .flex-table-row .condition-symbol span {
  width: 42px;
  height: 22px;
  border: 1px solid #dfdbe7;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #a0a0a0;
  background-color: #fff;
  display: block;
  padding: 1px 2px;
  text-align: center;
  border-radius: 5px;
}
.rex-feed-rules-area__conditional-pricing .flex-table-row .condition-repeater span {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.rex-feed-rules-area__conditional-pricing .flex-table-row:first-child .condition-symbol {
  display: none;
}
.rex-feed-rules-area__conditional-pricing .flex-table-row:first-child {
  padding-top: 0px;
}
.rex-feed-rules-area__conditional-pricing .flex-table-row:first-child::before {
  display: none;
}
.rex-feed-rules-area__conditional-pricing .flex-table-body,
.rex-feed-rules-area__conditional-pricing .flex-table-header {
  padding: 30px 90px 22px 22px;
}
.rex-feed-rules-area__conditional-pricing .flex-table-body {
  gap: 0px;
}
.rex-feed-rules-area__conditional-pricing .flex-table-body .flex-table-row .condition-icon .remove-field {
  position: absolute;
  right: 7px;
}
.rex-feed-rules-area__conditional-pricing .condition-repeater .add-condition:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 9px;
  background: #e5e8f3;
  width: 40px;
  height: 2px;
  z-index: 0;
}

@media (min-width: 2200px) {
  .rex-feed-rules-area__conditional-pricing .flex-table-row::before {
    right: 35px;
    bottom: 22px;
  }
  .post-type-product-feed #rex_feed_product_filters .rex-feed-rules-area .select2-container--default .select2-selection--single {
    max-width: 247px;
  }
}
@media (max-width: 1599px) {
  .rex-feed-rules-area__conditional-pricing .flex-table-row::before {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 22px;
    width: 2px;
    height: 100%;
    background: #e5e8f3;
    z-index: 0;
  }
  .rex-feed-rules-area__conditional-pricing .flex-table-row .condition-symbol {
    position: absolute;
    top: -209%;
    right: -28px;
  }
}
@media (max-width: 1470px) {
  .rex-feed-rules-area__fine-replace .flex-table-header {
    grid-template-columns: 1.4fr 1.4fr 0.8fr 1.4fr 0.5fr 1.3fr 0.5fr;
    gap: 15px;
  }
  .post-type-product-feed #rex_feed_product_filters .rex-feed-rules-area .select2-container--default .select2-selection--single {
    max-width: 182px;
  }
}
@media (max-width: 1399px) {
  .flex-table-header {
    padding: 15px 17px;
  }
  .flex-table-body {
    padding: 20px 17px;
  }
  .rex-feed-rules-area__fine-replace .flex-table-row,
  .rex-feed-rules-area__fine-replace .flex-table-header {
    grid-template-columns: 1.4fr 1.4fr 0.7fr 1.4fr 0.4fr 1.4fr 0.5fr;
    gap: 15px;
  }
  .rex-feed-rules-area .select2 {
    width: 120px !important;
  }
  .rex-feed-rules-area__dropdown-menu {
    margin-top: 0;
  }
}
@media (max-width: 1199px) {
  .rex-feed-rules-area__fine-replace .flex-table-row {
    grid-template-columns: 1.4fr 1.4fr 0.7fr 1.4fr 0.4fr 1.4fr 0.5fr;
    gap: 10px;
  }
  .rex-feed-rules-area__fine-replace .flex-table-header {
    grid-template-columns: 1.5fr 1.5fr 0.9fr 1.4fr 0.4fr 1.4fr 0.5fr;
    gap: 10px;
  }
  .flex-row p {
    font-size: 10px;
  }
  .rex-feed-rules-area__fine-replace input[type=text] {
    width: 100% !important;
  }
  .flex-table-body {
    gap: 15px;
  }
  .rex-feed-rules-area__dropdown-menu {
    margin-top: 0px;
  }
  .rex-feed-rules-area .select2 {
    width: 96px !important;
  }
  .flex-table-body .flex-table-row .condition-icon .delete-row {
    right: -12px;
  }
  .flex-row:last-of-type {
    margin-left: 7px;
  }
}
@media (max-width: 991px) {
  .rex-feed-rules-area__conditional-pricing .flex-table-row::before {
    right: -16px;
    bottom: 22px;
    width: 2px;
  }
}

/*# sourceMappingURL=rex-product-feed-pro-admin.css.map */
