#form_data label{}
#form_data label.checkbox{
    display: block;
    margin-top: 5px;
}
#form_data h2.subtitle {padding-left: 0px; margin: 15px 0 10px 0}
#form_data .postbox {padding: 15px 20px}
#form_data .postbox h4.heading {margin: 0px; padding-bottom: 10px}
#form_data .postbox .text-input {width: 100%; padding: 5px 5px; margin: 0px;}
#form_data .postbox .explain {padding-top: 10px; color: gray; font-style: italic; font-size: 11px; line-height: 17px;}
h2.subtitle {font-size: 15px; font-style: italic; font-weight: bold}

#woonet_data {padding: 0 10px}
#woonet_data .no_label {padding-left: 0px !important}
#woonet_data .form-field.inline span {display: inline; padding-left: 10px}
#woonet_data .form-field.inline span .warning {font-size: smaller; display : none}

#woonet .column-order_actions  {width: 115px;}

#woonet .widefat .check-column { padding: 8px 10px;}
.woocommerce-multistore-fields label.pl {padding-left: 30px}
.woocommerce-multistore-fields .warning {font-size: smaller; display : none; padding-left: 10px}

/*#bulk-distribution .progress{ display: inline-block;    float: right;    height: 20px;    margin: 4px 10px 0;    opacity: 0.7;    vertical-align: middle;    visibility: hidden; }*/
/*#bulk-distribution .progress.is-active {visibility: visible}*/

.woomulti-quick-update-notice {
	border-left: 2px solid red;
    padding-left: 5px !important;
    font-style: italic;
    font-size: x-small;
}

.woocommerce_options_panel p.form-field.woomulti-quick-update-notice
{
	padding-left: 5px !important;
	line-height: 1.3em !important;
	font-size: x-small !important;
	margin-top: 3em;
    margin-bottom: 3em;
}

.woomulti-linked-product-notice {
	margin: 5px !important;
}

.woomulti-store-name {
	display: inline-block;
    padding-left: 10px !important;
    font-weight: bold;
}

.woonet-general-setitngs-header {
    border-bottom: 1px solid grey;
    margin-bottom: 0.2em !important;
    margin-right: 2em !important;
}
