.ms-reset-table {
    padding: 0 25px 20px 25px;
    max-width: 100%;
    width: 100%;
    margin: 0 0 35px 0;
    position: relative;
    min-width: 255px;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    box-sizing: border-box;
}
.ms-reset-table tr th {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 -25px;
    padding: 15px 10px;
    background-color: #fcfcfc;
}