/**
 * Global radio button style
 */
 .woonet-pages [type="radio"]:checked,
.woonet-pages [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.woonet-pages [type="radio"]:checked + label,
.woonet-pages [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.woonet-pages [type="radio"]:checked + label:before,
.woonet-pages [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.woonet-pages [type="radio"]:checked + label:after,
.woonet-pages [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #0073AA;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.woonet-pages [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.woonet-pages [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/** Global radio buttton style end **/

.woonet-license-key, .woonet-network-type {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15em;
}

 .woonet-license-key img, .woonet-network-type img {
    border: none;
    width: 75px;
    height: 75px;
    margin: auto auto;
    display: block;
    margin-bottom: 4em;
 }

 .woonet-network-type-whats-difference {
    border-left: 1px solid darkgreen;
    margin-left: 1em;
    padding-left: 0.5em;
 }

 .network-type-form {
    margin-top: 2.5em;
 }

 .network-type-form {
    font-size: 1.5em;
 }

.network-type-form .spacer {
    margin-bottom: 3em;
 }

.woonet-license-key form label,
.woonet-license-key form input {
	display: block;
	margin-top: 1em;
}

.woonet-license-key form label {
	font-size: 2em;
}

.woonet-license-key form input {
	display: block;
	width: 100%;
	padding: 1em;
	border-radius: 5px;
	border: 1px solid #0073aa;
}

.woonet-license-key form button.button-primary {
    float: right;
    font-size: 24px;
    margin: 1em;
    margin-right: 0;
    padding: 0.5em 1.5em;
    height: auto !important;
}

.woonet-pages .add-to-network-btn {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    border-radius: 4px;
    padding: 0.5em 2em;
    margin: 0.5em;
    display: inline-block;
    text-align: left;
}

.woonet-sites-table {
    width: 85%;
    text-align: center;
}

.woonet-sites-table th,
.woonet-sites-table td {
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid lightgray;
}

.woonet-sites-empty {
    font-size: 1.5em;
    text-align: center;
    padding: 4em;
}

.wizard-checkelist {
    list-style-type: none;
}

.wizard-checkelist li img {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 3em;
    height: 3em
}

.wizard-checkelist li h3 {
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    padding-left: 15px;
}

.wizard-checkelist li a {
    outline: none !important;
    box-shadow: none !important;
}

.wizard-checkelist li h3:hover {
    text-decoration: underline;
}

.woomulti_options_warning {
  font-size: x-small !important;
  font-style: italic !important;
}

.woonet-settings-page .form-table th {
    padding: 10px;
    width: 150px;
    font-weight: normal; 
}

.woonet-settings-page .form-table td {
    padding: 10px;
}

.woonet-navigation-links {
    padding: 5px 10px;
    border: 1px solid #0073aa;
    border-radius: 3px;
    margin: 2px;
    text-decoration: none;
}

.woomulti-errors {
    border-left-color: #dc3232;
    border-left: 2px solid #dc3232;
    padding: 5px;
    background: #fff;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin: 5px 15px 5px 0px;
    padding: 1px 12px;
}

.woomulti-success {
    border-left-color: #46b450;
    border-left: 2px solid #46b450;
    padding: 5px;
    background: #fff;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin: 5px 15px 5px 0px;
    padding: 1px 12px;
}

.order-heading {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 4px 0;
    line-height: 1.3;
}

.woomulti-deactivate-button {
    background-color: #D61E1E !important;
    border-color: #D61E1E !important;
}

.woonet-general-setitngs-header {
    border-bottom: 1px solid grey;
    margin-bottom: 0.2em !important;
    margin-right: 2em !important;
}

.woonet-taxonomy-select-all, 
.woonet-taxonomy-select-all-sites {
    font-size: 0.7em;
    vertical-align: middle;
    padding: 1em;
    display: inline-block;
    outline: none !important;
    border: none;
    box-shadow: none !important;
}

.woonet-taxonomy-select-all-sites  {
    padding-left: 0;
}

