.slider-banner {
    height: 60rem;
    overflow-y: hidden;

    @include media-breakpoint-up(sm) {
        height: 65rem;
    }

    @include media-breakpoint-up(lg) {
        height: 75vh;
    }

    &--static {
        height: auto !important;

        .slider-banner__item-content {
            padding-top: 10%;
            padding-bottom: 10%;
        }
    }

    &:not(.slider-banner--static) {
        .slick-list, .slick-track, .slick-slide {
            height: 100%;
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .slick-arrow {
        display: none !important;

        @include media-breakpoint-up(lg) {
            display: block !important;
        }
    }

    &__item {
        position: relative;

        @include media-breakpoint-up(lg) {
            .col-12 {
                position: static;
            }
        }

        &-content {
            width: 100%;
            height: 100%;
            z-index: 2;
            position: relative;

            @include media-breakpoint-up(lg) {
                padding: 0 8rem;
            }
        }

        &-button {
            margin-top: 3rem;
            margin-bottom: 5rem;

            @include media-breakpoint-up(lg) {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-bottom: 0;
                padding: 3rem;
            }
        }
    }
}
