.slider-carousel {
    &__item {
        text-align: center;

        &-image {
            height: 20rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem;

            img {
                margin: 0 auto;
                max-width: 100%;
                max-height: 100%;
            }
        }

        &-content {
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            @include media-breakpoint-up(lg) {
                padding-left: 3rem;
                padding-right: 3rem;    
            }
        }

        &-step {
            margin: 0;
            padding: 3rem;
            color: theme-color('primary');
        }

        &-circle {
            background: theme-color('primary');
            border-radius: 50%;
            height: 20rem;
            width: 20rem;
            padding: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            .slider-carousel__item-content {
                padding: 0;

                p {
                    color: white;
                }
            }
        }
    }

    .slick-dots {
        @include media-breakpoint-up(lg) {
            display: none !important;
        }
    }

    .slick-arrow {
        @include media-breakpoint-down(md) {
            display: none !important;
        }
    }
}
