.category-columns {
    @include media-breakpoint-up(lg) {
        height: 100%;
    }

    &__item {
        background: theme-color('light-grey');
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 125%;
        max-width: 50rem;
        margin: 0 auto;

        @include media-breakpoint-up(md) {
            padding-bottom: 100%;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 135%;
            max-width: 100%;
            margin: 0;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 125%;
        }

        &-inner, &-image {
            @extend .stretch-container;
        }

        &-inner {
            display: flex;
            flex-flow: column;
            z-index: 1;
            padding: 3rem 0 0;

            @include media-breakpoint-up(sm) {
                padding: 3rem 1.5rem 1.5rem;
            }

            @include media-breakpoint-up(md) {
                padding: 4rem 3rem 3rem;
            }
        }

        &-title {
            @include media-breakpoint-up(lg) {
                display: flex;
                flex-flow: column;
                justify-content: center;
                min-height: 9rem;
            }

            @include media-breakpoint-up(xl) {
                min-height: 15rem;
            }

            h2 {
                font-weight: 400;
                color: theme-color('secondary');
                margin: 0;
            }
        }

        &-image {
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: top left;
        }
    }
}

.alternating-columns {
    &__title {
        position: relative;
    }

    &__lists {
        ul {
            list-style-type: none;

            li {
                position: relative;

                &::before {
                    content: "";
                    border-radius: 50%;
                    background: theme-color('primary');
                    position: absolute;
                    left: 0;
                }
            }
        }

        &--list {
            ul {
                margin: 3rem 0 0;
                padding: 0 0 0 3.5rem;

                li {
                    @extend .h5;
                    padding-left: 3rem;
                    margin-bottom: .8rem;

                    &::before {
                        width: .8rem;
                        height: .8rem;
                        top: .8rem;
                    }
                }
            }
        }

        &--double-list {
            ul {
                margin: 1rem 0 0;
                padding: 0 0 0 1.5rem;

                li {
                    padding-left: 2rem;
                    margin-bottom: .5rem;

                    &::before {
                        width: .5rem;
                        height: .5rem;
                        top: .5rem;
                    }
                }
            }
        }
    }
}

.heroimagebutton-columns{
    @include media-breakpoint-up(lg) {
        height: 100%;
    }

    &__item {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-flow: column;
        justify-content: space-between;
        text-align: center;
        max-width: 50rem;
        margin: 0 auto;

        &.bg-grey{
            background: theme-color('light-grey');
        }

        &-image{

            img{
                min-width: 100%;
                max-width: 100%;
                height: auto;
            }
        }

        &-inner{
            padding: 2.5rem 2rem;

            .btn{
                min-width: 100%;
            }
        }
    }
}

.intus-row{

    &-column{

        &-image{
            img{
                min-width: 100%;
                max-width: 100%;
                height: auto;
            }
        }

        &-text,
        &-buttons{
            padding: 2.5rem 2rem;
            @include media-breakpoint-up( xxl ){
                padding: 3rem 3rem;
            }
        }

        &-text{
            &-title{
                margin-top: 2rem;
            }

            &-content{

            }
        }

        &-buttons{
            .btn{
                min-width: 100%;
            }
        }
    }


}
