.container-item-border-radius {
    overflow: hidden;

    &__1 {
        border-radius: $border-radius;
    }

    &__2 {
        border-radius: $border-radius*2;
    }

    &__3 {
        border-radius: $border-radius*3;
    }

    &__4 {
        border-radius: $border-radius*4;
    }

    &__6 {
        border-radius: $border-radius*6;
    }
}

.container-item-list-icons {
    .content {
        ul, ol {
            position: relative;
            list-style-type: none;
            padding-left: 0;
            @extend .p;

            li {
                position: relative;
                padding-left: 2.25rem;
                margin-bottom: 1rem;

                &::before {
                    display: block;
                    position: absolute;
                    left: 0;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                }
            }
        }
    }

    &__check,
    &__check-circle,
    &__check-square {
        .content {
            ul, ol {
                li {
                    &::before {
                        font-family: 'Font Awesome 5 Pro';
                        font-style: normal;
                        font-weight: 900;
                    }
                }
            }
        }


    }

    &__check {
        .content {
            ul, ol {
                li {
                    &::before {
                        content: "\f00c";
                    }
                }
            }
        }

    }

    &__check-circle {
        .content {
            ul, ol {
                li {
                    &::before {
                        content: "\f058";
                    }
                }
            }
        }

    }

    &__check-square {
        .content {
            ul, ol {
                li {
                    &::before {
                        content: "\f14a";
                    }
                }
            }
        }
    }
}



