// Featured categories

.slider-featured {
    margin-left: -1rem;
    margin-right: -1rem;

    .slick-track {
        display: flex;
        height: 100%;
    }

    .slick-slide {
        float: none;
        height: auto;
    }

    &__item {
        padding-left: 1rem;
        padding-right: 1rem;
        transition: opacity .5s ease;

        @include media-breakpoint-up(md) {
            opacity: 0;
        }

        &.slick-active {
            opacity: 1;
        }

        &-inner {
            position: relative;
            padding-bottom: 100%;
            background: white;

            @include media-breakpoint-up(md) {
                padding-bottom: 140%;
            }
        }

        &-image, &-content {
            position: absolute;
            width: 100%;
            left: 0;
        }

        &-image {
            top: 0;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }

        &-title {
            @extend .h5;
            display: block;
            border-bottom: 2px solid theme-color('secondary');
            margin-bottom: 2rem;
            padding-bottom: 1rem;
            font-weight: bold;
        }

        &-content {
            bottom: 0;
            height: auto;
            background: rgba(#D6CCC3, 0.7);
            padding: 3rem 1.5rem;
            text-align: center;

            @include media-breakpoint-up(lg) {
                min-height: 20rem;
                display: flex;
                flex-flow: column;
                justify-content: center;
            }
        }
    }
}

.slider-featured-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;

    @include media-breakpoint-up(md) {
        margin-right: -1rem;
    }

    .slick-arrow {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        transform: none;
        color: theme-color('secondary');
        padding: 1rem;
        transition: opacity .3s;

        @include media-breakpoint-up(md) {
            i {
                font-size: 4em;
            }
        }

        &.slick-disabled {
            opacity: .5;
        }
    }
}

// Featured product

.slider-featured-product,
.slider-alternating {
    .slick-dots {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 2rem;

        li {
            line-height: 0;

            button {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    &__item {
        &-image {
            position: relative;
            padding-bottom: 100%;

            > div {
                @extend .stretch-container;
                @extend .bg-cover;
            }
        }
    }
}
