.full-width {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        @extend .stretch-container;
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    &--pink, &--blue {
        @include media-breakpoint-up(lg) {
            min-height: 30vh;
            display: flex;
            align-items: center;
        }

        &::before {
            border: 2rem solid theme-color('light-grey');
        }
    }

    &--pink {
        background: theme-color('primary-light');
    }

    &--blue {
        background: theme-color('secondary-light');
    }

    &--grey {
        background: theme-color('lightest-grey');
    }

    &__plus {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            transform: translate(-2rem, 2rem);
            width: auto;
            max-height: 18rem;
        }

        @media (min-width: 1400px) {
            max-height: 25rem;
        }
    }

    ul,ol{
        @extend .list;
    }

    ul{
        @extend .list-ul;
    }
    ol{
        @extend .list-ol;
    }
}
