.latest-news {
    background: theme-color('light-grey');

    &__posts {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column;

        &-item {
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            border-bottom: 2px solid white;

            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
            }

            &-link {
                color: theme-color('secondary');
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 16rem;

                &::before {
                    content: "";
                    height: 1px;
                    width: 3rem;
                    margin-right: 1rem;
                    background: theme-color('secondary');
                }
            }
        }
    }
}
