.slider-testimonials {
    &__item {
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: left;
        }

        &-stars {
            @extend .list-clear-all;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;

            @include media-breakpoint-up(lg) {
                justify-content: flex-start;
            }

            li {
                color: theme-color('primary');
                margin: 0 .2rem;
            }
        }

        &-left {
            @include media-breakpoint-up(lg) {
                padding-top: 10%;
                padding-bottom: 10%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            img {
                display: none;

                @include media-breakpoint-up(lg) {
                    display: block;
                    position: relative;
                    z-index: 1;
                }
            }
        }

        &-right {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
                content: "";
                background: theme-color('light-grey');
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;

                @include media-breakpoint-up(lg) {
                    width: calc(100% + 10rem);
                    transform: translate(-10rem, 0);
                }
            }

            > div {
                position: relative;
                z-index: 1;
                padding: 3rem;

                @include media-breakpoint-up(lg) {
                    padding: 7rem;
                }

                @include media-breakpoint-up(xl) {
                    padding: 12rem;
                }
            }
        }
    }

    .slick-dots {
        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 0;
            right: 0;
            width: calc(50% + 10rem);
            margin: 0;
            padding-bottom: 3rem;
        }
    }
}
