.trustpilot-widget-container{
    a{
        text-align: center;
    }

    &__product_mini_review{
        margin-top: 0;
        width: 100%;
        height: 24px;
        justify-content: center;
        @include media-breakpoint-up( lg ) {
            margin-top: -2rem;
        }
    }
}

.single-product {
    .woocommerce-review-link {

        &.trustpilot {
            padding: 2px 5px 2px 5px;
            background-color: theme-color('primary');
            border-radius: 3px;
            height: 17px;
            font-size: 13px;
            line-height: 13px;
            color: white;
            font-weight: 500;
            text-decoration: none;
            letter-spacing: normal;
        }
    }
}
