#order_lineitems {
    width: 17ch;
}

.wp-admin {
    .wp-list-table {
        .order_lineitems {
            font-size: 12px;
            line-height: 1.6;

            i {
                color: grey;
            }
        }
    }
}

#edittag {
    max-width: 100% !important;
}
