// Arrow slider

.slick-arrowed {
    @include media-breakpoint-up(lg) {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }
}

// Image columns

.image-columns {
    &__item {
        position: relative;
        width: 100%;
        padding-bottom: 100%;

        > div {
            @extend .stretch-container;
            @extend .bg-cover;
        }


    }

    @include media-breakpoint-up(md) {
        .col-12 {
            &:last-of-type {
                .image-columns__item {
                    padding-bottom: 85%;
                }
            }
        }
    }
}

// Alternate header

.key-point-header {
    text-align: center;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }

    &__circle {
        height: 22rem;
        width: 22rem;
        border-radius: 50%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 4rem;
        text-align: center;
        color: white;
        margin: 0 auto 5rem;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcbbba+0,f9837f+99 */
        background: rgb(252,187,186);
        background: -moz-linear-gradient(top, rgba(252,187,186,1) 0%, rgba(249,131,127,1) 99%);
        background: -webkit-linear-gradient(top, rgba(252,187,186,1) 0%,rgba(249,131,127,1) 99%);
        background: linear-gradient(to bottom, rgba(252,187,186,1) 0%,rgba(249,131,127,1) 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcbbba', endColorstr='#f9837f',GradientType=0 );

        @include media-breakpoint-up(lg) {
            margin: 0;
            height: 25rem;
            width: 25rem;
        }

        @include media-breakpoint-up(xl) {
            height: 30rem;
            width: 30rem;
        }
    }
}

// Steps

.steps {
    &__list {
        &-item {
            display: flex;
            position: relative;
            padding-bottom: 6rem;
            flex-flow: column;

            @include media-breakpoint-up(md) {
                flex-flow: row;

                &::before {
                    content: "";
                    height: 100%;
                    width: 3px;
                    border-left: 3px dashed theme-color('primary');
                    position: absolute;
                    left: 6rem;
                    top: 0;
                }
            }

            &-number {
                @extend .h2;
                color: white;
                background: theme-color('primary');
                width: 12rem;
                height: 12rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 5rem;
                position: relative;
                z-index: 1;
                margin: 0 auto 3rem;

                @include media-breakpoint-up(md) {
                    margin: 0 6rem 0 0;
                }
            }

            &:last-of-type {
                padding-bottom: 0;

                &::before {
                    display: none;
                }
            }
        }
    }
}

// Statistics

.statistics {
    background: theme-color('lightest-grey');

    &__list {
        @extend .list-clear-all;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
        }

        &-item {
            flex: 0 1 100%;
            text-align: center;

            @include media-breakpoint-up(sm) {
                flex: 0 1 50%;
            }

            @include media-breakpoint-up(md) {
                flex: 0 1 33.333%;
            }

            @include media-breakpoint-up(xl) {
                flex: 0 1 16.666%;
            }

            &-inner {
                padding: 2rem 1rem;

                .odometer.odometer-auto-theme {
                    line-height: inherit;
                }

                .odometer-digit {
                    vertical-align: bottom;
                }
            }
        }
    }
}

// Icon Row List

.icon-row-list {
    background: theme-color('secondary-light');

    &__list {
        @extend .list-clear-all;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @include media-breakpoint-up(md) {
            flex-wrap: nowrap;
        }

        &-item {
            flex: 0 1 100%;
            text-align: center;

            @include media-breakpoint-up(sm) {
                flex: 0 1 50%;
            }

            @include media-breakpoint-up(md) {
                flex: 0 1 25%;
            }

            &-inner {
                padding: 2rem 1rem;
            }
        }
    }
}

@import "layouts/blocks/common";
@import "layouts/blocks/banner";
@import "layouts/blocks/carousel";
@import "layouts/blocks/columns";
@import "layouts/blocks/featured";
@import "layouts/blocks/fullwidth";
@import "layouts/blocks/testimonials";
@import "layouts/blocks/news";
@import "layouts/blocks/social-links";
@import "layouts/blocks/trustpilot";
@import "layouts/blocks/woo/featured-category";
@import "layouts/blocks/woo/handpicked-products";
