// Listing page

.blog-listing {
    &__image {
        display: block;
        position: relative;
        padding-bottom: 56.25%;

        @include media-breakpoint-up(lg) {
            overflow: hidden;

            > div {
                transition: transform .3s ease, opacity .3s;
            }

            &:hover {
                > div {
                    transform: scale(1.05);
                    opacity: .8;
                }
            }
        }

        > div {
            @extend .stretch-container;
            @extend .bg-cover;
        }
    }
}

// Category filter

.blog-category-filter {
    position: relative;

    select {
        appearance: none;
        padding: 2rem 4.5rem 2rem 2rem;
        border: 3px solid darken(theme-color('lightest-grey'), 10%);
        border-radius: global-var('border-radius');
        background: white;
        display: block;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translate(0, -50%);
    }
}

// Category link

.blog-category-link {
    @extend .p-lg;
    color: theme-color('secondary');
    border-bottom: 2px solid transparent;
    display: inline-block;
    padding: 1rem 0;
    text-align: center;

    &:hover {
        text-decoration: none;
        color: theme-color('primary');
    }

    &.active {
        border-color: theme-color('primary');
    }
}

// Post single banner

.post-banner {
    display: flex;
    flex-flow: column;
    color: white;
    justify-content: center;
    @extend .bg-cover;
    @extend .bg-overlay;
}

.post-reviewer{
    .container{
        background-color: rgb(253,210,212);
    }
    &-user{
        &__author{
        }
        &__reviewer{
        }
    }

    &-note{
        h3{
            margin-bottom: 0;
            font-size: 1.6rem;
        }
    }
}


// Post single

.post-single-content {

    ul,ol{
        @extend .list;
    }

    ul{
        @extend .list-ul;
    }
    ol{
        @extend .list-ol;
    }

    h2{
        @extend .h3;
    }
    h3{
        @extend .h4;
    }
    h4{
        @extend .h5;
    }
    h5{
        @extend .h6;
    }
    h6{
        @extend .h6-small;
    }

    img.full-width {
        @extend .img-fluid;
        width: 100%;
        margin: 4rem 0;
    }
}

// Post pagination

.pagination-blog {
    margin: 4.5rem auto 0;

    ul {
        width: 100%;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            padding: 0 2rem;

            a {
                @include font-size(18px);
                @extend .font-heading;
                cursor: pointer;
                color: theme-color('secondary');

                &:hover {
                    text-decoration: none;
                }

                i {
                    border: thin solid theme-color('primary');
                    padding: 10px 15px;
                }
            }

            &.active {
                a {
                    pointer-events: none;
                    font-weight: bold;
                }
            }

            &.iterator {
                padding: 0 3rem;

                a {
                    display: flex;
                    align-items: center;
                    padding: 1.2rem 1.7rem;
                    background: white;
                    @extend .drop-shadow-sm;
                }
            }
        }
    }
}

// Post navigation

.post-navigation {
    padding: 0 1.5rem;
    background-color: theme-color('secondary-light');

    @include media-breakpoint-up(md) {
        padding: 0;
    }

    &__item {
        display: flex;
        flex-flow: column;
        justify-content: center;

        a {
            display: inline-block;
            position: relative;
            padding-left: 4rem;
            max-width: 80%;

            &:hover {
                text-decoration: none;
            }
        }

        &-label {
            display: block;
            font-weight: bold;
            color: theme-color('mid-grey');
            @extend .p-sm;

            @include media-breakpoint-up(lg) {
                margin-bottom: .5rem;
            }
        }

        &-title {
            @extend .h5;
            margin-bottom: 0;
            color: theme-color('secondary');
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        i {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            color: theme-color('secondary');
        }

        &--end {
            align-items: flex-end;

            a {
                padding-left: 0;
                padding-right: 4rem;
            }

            .post-navigation__item-label, .post-navigation__item-title {
                text-align: right;
            }

            i {
                left: auto;
                right: 0;
            }
        }
    }
}

// Author

.author-image {
    display: block;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    object-fit: cover;

    @include media-breakpoint-up(md) {
        width: 12rem;
        height: 12rem;
    }
}

.author-posts {
    margin-top: 4rem;

    &__item {
        display: flex;
        background: white;
        padding: 4rem 2rem;
        border-bottom: 2px solid theme-color('light-grey');
        transition: background .3s ease;

        &:first-of-type {
            border-top: 2px solid theme-color('light-grey');
        }

        @include media-breakpoint-up(lg) {
            &:hover {
                background: theme-color('lightest-grey');
            }
        }

        &-image {
            @extend .bg-cover;
            height: 8rem;
            width: 8rem;
            flex: 0 0 8rem;
        }

        &-terms {
            @extend .list-clear-all;
            display: flex;
            align-items: center;

            &::before {
                content: "|";
                padding: 0 1rem;
                color: theme-color('primary');
            }

            li {
                display: flex;
                align-items: center;
                color: theme-color('primary');

                &::after {
                    content: "|";
                    padding: 0 1rem;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

.authors-sidebar {
    border: 2px solid theme-color('light-grey');
    padding: 3rem;

    &__title {
        border-bottom: 2px solid theme-color('light-grey');
        padding-bottom: 1rem;
    }
}

.single-post{
    .wp-block-button__link{
        @extend .btn;
        @extend .btn--outline;
    }
}
