// Form

.faq-search {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 100%;

    @include media-breakpoint-up(lg) {
        max-width: 50rem;
    }

    input[type="search"] {
        background: white;
        padding: 2rem 6rem 2rem 2rem;
        border-radius: global-var('border-radius');
        border: 2px solid theme-color('secondary');
        width: 100%;
        display: block;
    }

    &__submit {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        padding: 2rem;
        background: transparent;
        border: 0;
    }
}

// Banner image

.faq-image {
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 40%;
        max-height: 80%;
    }
}

// Accordion / Tabs

.template-faqs {
    .nav-tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 0;
        margin: 0 -0.5rem;
        transition: opacity .5s;

        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
        }

        li {
            flex: 0 1 100%;
            padding: 0 .5rem;
            margin-bottom: 1rem;

            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }

            a {
                background: theme-color('tertiary');
                color: white;
                text-align: center;
                padding: 1.5rem 2rem;
                border-radius: global-var('border-radius');

                @include media-breakpoint-up(lg) {
                    @include font-size(18px);
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &.active {
                    background: white;
                    color: theme-color('secondary');
                }
            }
        }
    }
}

.accordion.accordion--faqs {
    border: 1px solid theme-color('light-grey');
    border-radius: global-var('border-radius');

    .card {
        padding: 1.5rem 2rem;
        border-radius: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background: transparent;

        &:not(:last-of-type) {
            border-bottom: 1px solid theme-color('light-grey') !important;
        }

        &:last-of-type {
            border-bottom: 0;
        }

        .card-header {
            border: 0;
            border-radius: 0;
            margin: 0;
            padding: 0;
            background: transparent;

            button {
                background: transparent;
                border: 0;
                font-weight: bold;
                display: block;
                width: 100%;
                text-align: left;
                position: relative;
                color: theme-color('secondary');
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0;

                .down-arrow {
                    display: none;
                }

                .up-arrow {
                    display: block;
                }

                &.collapsed {
                    .down-arrow {
                        display: block;
                    }

                    .up-arrow {
                        display: none;
                    }
                }
            }
        }
    }
}

// Custom questions

.faq-featured-question {
    &:hover {
        text-decoration: none;
    }
}

// Back button

.faq-search-back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
}

// Search results

.faq-search-container {
    &.search-results {
        .faq-search-back {
            opacity: 1;
            pointer-events: auto;
        }

        .nav-tabs {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.faq-no-results {
    text-align: center;
}

.faq-search-result {
    padding: 2rem;
    border: 1px solid theme-color('light-grey');
    border-radius: global-var('border-radius');
    opacity: 0;
    transition: opacity 1s;
}

.faq-loader {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.faq-ajax-outer {
    position: relative;
    min-height: 40rem;

    &.posts-loading {
        .faq-loader {
            opacity: 1;
        }
    }

    &.posts-loaded {
        .faq-search-result {
            opacity: 1;
        }
    }
}
