// NOTE: this has been copied from comfy quilts, most not necessary. Copy out into other files what is necessary

// Rows

.flex-row {
    position: relative;

    &--tabs {
        .nav-tabs {
            justify-content: space-between;

            li {
                flex: 0 1 100%;
            }
        }
    }

    &--navigation {
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;

            li {
                text-align: center;
                padding: 0 1rem;
                flex: 0 1 100%;

                a {
                    color: theme-color('dark-grey');
                    padding: 3rem 1rem;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;

                    &:hover {
                        text-decoration: none;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: .5rem;
                        background: transparent;
                    }

                    &.active {
                        font-weight: bold;

                        &::after {
                            background: theme-color('secondary');
                        }
                    }
                }
            }
        }
    }
}

.template-flex {
    .flex-row {
        @include media-breakpoint-up(xl) {
            &--banner, &--featured-categories {
                margin: 0 3%;
            }
        }
    }
}

// Sliders

.slider-banner {
    .slick-arrow {
        align-items: center;
        justify-content: center;
        background: transparent;
        border: 0;
        height: 4rem;
        width: 4rem;
        margin: 0 2rem;
        display: none !important;

        @include media-breakpoint-up(lg) {
            display: block !important;
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
        display: flex !important;

        @include media-breakpoint-up(lg) {
            display: none !important;
        }

        li {
            margin: 0 .5rem;

            button {
                background: white;
                border: 0;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: theme-color('dark-grey');
                width: 1.5rem;
                height: 1.5rem;
                padding: 0;
                @extend .drop-shadow-md;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }

            &.slick-active {
                button {
                    background: theme-color('primary');
                }
            }
        }
    }
}

// Image carousel

.slider-images {
    &__item {
        &-image {
            height: 12rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 80%;
                max-height: 50%;
            }
        }
    }

    .slick-dots {
        display: flex;
    }
}

// Grid

.grid-item {
    display: block;
    position: relative;
    height: auto;
    padding-bottom: 70%;

    &--sm {
        @include media-breakpoint-up(md) {
            padding-bottom: 124.5%;
        }
    }

    &--lg {
        @include media-breakpoint-up(md) {
            padding-bottom: 60%;
        }
    }

    &__image {
        @extend .stretch-container;
        @extend .bg-cover;
    }
}

a.grid-item {
    cursor: pointer;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        .grid-item__image {
            transition: transform .3s ease;
        }

        &:hover {
            .grid-item__image {
                transform: scale(1.05);
            }
        }
    }
}

// Shop links

.shop-cat-link {
    &__image {
        position: relative;
        display: block;
        overflow: hidden;
        height: 20rem;

        @include media-breakpoint-up(lg) {
            height: 40rem;
        }

        > div {
            @extend .stretch-container;
            @extend .bg-cover;
            transition: transform .3s ease;
        }

        &:hover {
            > div {
                transform: scale(1.05);
            }
        }
    }

    &__title {
        color: theme-color('dark-grey');
        display: block;
        min-height: 5rem;

        &:hover {
            text-decoration: none;
        }
    }
}

// Accordion

.accordion {
    &--flex {
        .card {
            border-left: 0;
            border-right: 0;

            .card-header {
                background: transparent;
                padding: 0;

                button {
                    text-align: left;
                    display: block;
                    width: 100%;
                    background: transparent;
                    border: 0;
                    padding: 1rem 1rem 1rem 2rem;
                    color: theme-color('dark-grey');
                    font-weight: bold;
                    position: relative;

                    &::before {
                        content: "\002d";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                        font-size: 2rem;
                    }

                    &.collapsed {
                        font-weight: normal;

                        &::before {
                            content: "\002b";
                        }
                    }
                }
            }

            .card-body {
                padding: 2rem;
            }
        }
    }
}


.flexible-columns{
    &-column{
        //display: flex;
        //flex-direction: column;
        //justify-content: space-between;

        .buttons{
            justify-self: flex-end;
        }
    }
}
