.main-footer {
    overflow-x: hidden;
    float: left;
    width: 100%;
    border-top: .8rem solid theme-color('primary');

    @include media-breakpoint-up(lg) {
        border-width: 1.5rem;
    }

    &__logo {
        display: block;

        img {
            max-width: 15rem;
            height: auto;
        }
    }

    &__cards {
        list-style-type: none;
        margin: 4rem -0.5rem 0 -0.5rem;
        padding: 0;
        display: flex;
        align-items: center;

        li {
            padding: 0 .5rem;
        }
    }

    .cli_settings_button {
        font-size: 1.4rem;
        padding: 0;
        margin: 0;
        background: transparent !important;
        color: theme-color('secondary') !important;
    }
}

#cookie-law-info-bar {
    z-index: 9999999999999;
}

.nav {
    &--footer {
        display: flex;

        @include media-breakpoint-up(lg) {
            flex-wrap: wrap;
            margin-left: -2rem;
            margin-right: -2rem;
        }

        li {
            flex: 0 1 100%;
            text-align: center;
            border-bottom: 1px solid theme-color('light-grey');

            &:last-child {
                border-bottom: 0;
            }

            @include media-breakpoint-up(lg) {
                text-align: left;
                padding-left: 2rem;
                padding-right: 2rem;
                margin-bottom: 1.5rem;
                border-bottom: 0;
            }

            a {
                color: theme-color('secondary');
                padding: 1.5rem;
                display: block;

                @include media-breakpoint-up(lg) {
                    padding: 0;
                }
            }
        }

        &_2col{
            li {
                @include media-breakpoint-up(lg) {
                    flex: 0 1 50%;
                }
            }
        }
    }
}
