// body

body {
    &::-webkit-scrollbar {
        width: 1rem;
        background: theme-color('lightest-grey');
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
        background: darken(theme-color('lightest-grey'), 20%);
    }
}

// Headings
.h6-small{
    @include font-size(14px);
    font-weight: 700;

    @include media-breakpoint-up(md) {
        @include font-size(15px);
    }

    @include media-breakpoint-up(lg) {
        @include font-size(16px);
    }
}

// containers

.container {
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: 1400px) {
        max-width: 1300px;
    }
}

// slick carousel

.slick-arrow {
    background: transparent;
    border: 0;
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &--prev {
        left: 0;
    }

    &--next {
        right: 0;
    }
}

.slick-dots {
    text-align: center;
    margin-bottom: 0;
    margin-top: 3rem;
    padding-left: 0;
    list-style-type: none;
    display: flex !important;
    align-items: center;
    justify-content: center;

    li {
        margin: 0 .7rem;

        button {
            padding: 0;
            text-indent: -9999px;
            border-radius: 50%;
            border: 0;
            width: 1.5rem;
            height: 1.5rem;
            background: theme-color('primary-light');
        }

        &.slick-active {
            button {
                background: theme-color('primary');
            }
        }
    }
}

// custom bg class

.bg-primary-half {
    background: white;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: theme-color('primary');
        height: 0;

        @include media-breakpoint-up(lg) {
            height: 27%;
        }

        @media (min-width: 1400px) {
            height: 71%;
        }
    }
}

// tooltips

.tooltip-inner {
    max-width: 150px;
    padding: .5rem 1rem;
    color: theme-color('dark-grey');
    text-align: left;
    background-color: theme-color('primary-dark');
    border-radius: 0;
    @include font-size(12px);
}

.tooltip.bs-tooltip-right, .tooltip.bs-tooltip-auto[x-placement^=right] {
    .arrow::before {
        margin-top: -3px;
        content: "";
        border-width: 5px 5px 5px 0;
        border-right-color: theme-color('primary-dark');
    }
}

.tooltip.bs-tooltip-left, .tooltip.bs-tooltip-auto[x-placement^="left"]  {
    .arrow::before {
        border-left-color: theme-color('primary-dark');
    }
}

// Modal

.modal {
    .close {
        text-shadow: none;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 1;
        color: white;
        background: theme-color('secondary');
        padding: 0;
        z-index: 1;
        pointer-events: auto;
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(lg) {
            transform: translate(100%, -100%);
            background: transparent;
        }
    }

    &-dialog {
        margin: 1rem;

        @include media-breakpoint-up(sm) {
            margin: 6rem auto;
        }

        @include media-breakpoint-up(xl) {
            margin: 10% auto;
        }
    }

    &-content {
        border-radius: 0;
        border: 0;
    }

    &--image {
        .modal-content {
            background: transparent;
        }

        .modal-body {
            padding: 0;
            text-align: center;

            img {
                max-height: 85vh;
            }
        }
    }

    &--global {
        .modal-body {
            padding: 0;
        }

        .modal__inner {
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 3rem 2rem;

            @include media-breakpoint-up(sm) {
                padding: 4.5rem 3rem;
            }

            @include media-breakpoint-up(lg) {
                padding: 6rem 3rem 6rem 4.5rem;
                min-height: 40rem;
            }
        }
    }
}

.modal-backdrop.show {
    opacity: .8;
}

// tabs

.tabs-container-wrap {
    border-top: 1px solid darken(theme-color('light-grey'), 5%);
}

.tabs-container {
    @include media-breakpoint-up(lg) {
        transform: translate(0, -5rem);
    }
    @include media-breakpoint-down(lg) {
        padding-left: 0;
        padding-right: 0;
    }

    .card-body {
        > h2, .woocommerce-Reviews-title {
            @extend .h3;
            @extend .mb-5;
        }
    }

    .nav-tabs {
        flex-wrap: nowrap;
        border: 0;
        margin: 0 -0.5rem;
        display: none;

        @include media-breakpoint-up(lg) {
            display: flex;
        }

        .nav-item {
            margin-bottom: 0;
        }

        .nav-link {
            @extend .font-heading;
            background-color: theme-color('tertiary');
            color: #ffffff;
            border: 0;
            margin: 0;
            font-weight: normal;
            text-align: center;
            padding: 1.5rem 1.2rem;
            border-top-left-radius: 0.75rem;
            border-top-right-radius: 0.75rem;

            &:hover {
                background-color: theme-color('tertiary');
            }

            &.active {
                background-color: #ffffff;
                color: theme-color('tertiary');
            }
        }

        > li {
            flex: 0 1 16.666%;
            padding: 0 0.5rem;
        }
    }

    // Over-rides to enable tabs on mobile
    .tab-pane {
        .card {
            padding-top: 4%;
            padding-bottom: 4%;

            @include media-breakpoint-up(lg) {
                border: 0;

                .collapse {
                    display:block;
                }
            }

            .card-header {
                display:none;
            }

            @include media-breakpoint-down(md) {
                border: 0;
                padding: 0;
                background: white;
                border-bottom: 1px solid theme-color('light-grey');

                .card-header {
                    border: 0;
                    padding: 0;
                    background: transparent;
                    border-radius: 0;
                    display: block;
                }

                .card-body {
                    border-top: 1px solid theme-color('light-grey');
                    padding: 1.5rem;
                }

                button {
                    background: transparent;
                    border: 0;
                    display: block;
                    width: 100%;
                    text-align: left;
                    padding: 1.5rem;
                    position: relative;

                    &::after {
                        content: "\002D";
                        position: absolute;
                        top: 50%;
                        right: 1.5rem;
                        transform: translate(0, -50%);
                        font-size: 22px;
                    }

                    &.collapsed {
                        &::after {
                            content: "\002B";
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .tab-content > .tab-pane {
            display: block;
            opacity: 1;
        }
    }
}

.pagination {
    margin-top: 4.5rem;

    ul {
        width: 100%;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            padding: 0 1.5rem;

            a {
                @include font-size(18px);
                @extend .font-heading;
                cursor: pointer;
                color: theme-color('secondary');

                &:hover {
                    text-decoration: none;
                }
            }

            &.active {
                a {
                    pointer-events: none;
                    font-weight: bold;
                }
            }

            &.iterator {
                padding: 0 3rem;

                a {
                    display: flex;
                    align-items: center;
                    padding: 1.2rem 1.7rem;
                    background: white;
                    border: 1px solid theme-color('primary');
                }
            }
        }
    }
}

// Reviews tab

#widget-1 #widget-1_frame,
.card-body iframe {
    width: 100%;
}

// Error page

.error-container {
    &__title {
        @include media-breakpoint-up(lg) {
            border-right: 1px solid theme-color('dark-grey');
            margin-right: 1rem;
        }

        @include media-breakpoint-up(xl) {
            margin-right: 3rem;
        }
    }
}

.social-channels {
    @extend .list-clear-all;
    display: flex;
    align-items: center;
    margin-left: -1rem;
    margin-right: -1rem;

    li {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

// Contact page

.contact-sidebar {
    border: 2px solid theme-color('light-grey');
    border-radius: global-var('border-radius');
    padding: 3rem;

    @include media-breakpoint-up(lg) {
        padding: 4rem;
    }
}

// Star rating

.star-rating {
    display: flex;
    align-items: center;

    > span {
        width: 100% !important;
    }
}

.star-rating-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
