.main-header {
    width: 100%;
    position: relative;
    border-bottom: .8rem solid theme-color('primary');

    @include media-breakpoint-up(lg) {
        border-width: 1.5rem;
    }

    &__logo {
        display: block;
        padding: 1rem 0;

        @include media-breakpoint-up(lg) {
            padding: 1.5rem 0;
        }

        img {
            width: auto;
            max-height: 4.5rem;

            @include media-breakpoint-up(lg) {
                max-height: 7rem;
            }
        }
    }

    &__nav {
        height: 100%;
    }

    &__icons {
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 1rem 0;
        margin-bottom: 0;
        // margin-right: -1rem;

        @include media-breakpoint-up(xl) {
            border-left: 2px solid theme-color('primary');
            padding: 0 0 0 2rem;
            margin-left: 2rem;
        }

        @media (min-width: 1400px) {
            padding: 0 0 0 3rem;
            margin-left: 3rem;
        }

        li {
            @include media-breakpoint-up(xl) {
                padding-left: .5rem;
                padding-right: .5rem;
            }

            a:not(.btn) {
                padding: 1rem;
                display: inline-block;
                color: theme-color('secondary');

                &.toggle-offcanvas {
                    line-height: 0;
                }

                &.basket-link {
                    color: white;
                    background: theme-color('primary');
                    padding: 1.5rem;
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;

                    i {
                        transform: translate(-1px, 0);
                    }
                }
            }

            .cart-total{
                text-align: center;
                min-width: 1.5rem;
            }
        }
    }
}

.nav {
    &--primary {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;

        li {
            a {
                color: theme-color('secondary');
            }

            .sub-menu {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;
            }
        }

        > li {
            @include media-breakpoint-up(xl) {
                margin: 0 1rem;
            }

            > a {
                display: inline-block;
                padding: 4rem .5rem;
                position: relative;
                font-weight: bold;

                @media (min-width: 1400px) {
                    padding: 4rem 1rem;
                }

                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 1.3rem solid transparent;
                    border-right: 1.3rem solid transparent;
                    border-bottom: 1.3rem solid theme-color('primary');
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translate(-50%, 0);
                    opacity: 0;
                }

                &:hover {
                    text-decoration: none;

                    &::after {
                        opacity: 1;
                    }
                }
            }

            &.current-menu-item {
                > a {
                    font-weight: bold;
                }
            }

            &.menu-item-has-children {
                > .meganav {
                    display: none;
                    position: absolute;
                    top: calc(100% + 1px);
                    left: 0;
                    z-index: 1100;
                    width: 100%;
                    background: white;
                    padding: 4.5rem 0;
                    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
                    border-top: 1.5rem solid theme-color('primary');

                    .meganav__inner {
                        > .sub-menu {
                            display: flex;
                            justify-content: space-between;

                            > li {
                                flex: 0 1 100%;

                                > img {
                                    margin-bottom: 2rem;
                                    max-width: 3.5rem;
                                }

                                > span, > a {
                                    font-weight: bold;
                                    display: block;
                                    margin-bottom: 2rem;
                                    min-height: 2rem;
                                    color: theme-color('secondary');
                                }

                                .sub-menu {
                                    li {
                                        margin-bottom: .5rem;

                                        a {
                                            font-size: 1.4rem;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        display: block;
                    }
                }

                > a {
                    &:hover {
                        + .meganav {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.sleep-test-block {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;

    &::after {
        content: "";
        @extend .stretch-container;
        z-index: 1;
        background: rgba(255,255,255,0.3);
    }

    &__content {
        @extend .stretch-container;
        z-index: 2;
        padding: 2rem;
        border: 2px solid theme-color('primary');
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        i {
            transition: transform .3s ease;
        }

        &:hover {
            text-decoration: none;

            i {
                transform: translate(5px, 0);
            }

            + div {
                transform: scale(1);
            }
        }
    }

    &__image {
        @extend .stretch-container;
        @extend .bg-cover;
        transition: transform .3s ease;
        transform: scale(1.05);

        &::before {
            content: "";
            @extend .stretch-container;
            background: rgba(theme-color('primary'), 0.2);
        }
    }
}

.search-popup {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 15px) scale(0);
    transition: transform .3s ease;
    transform-origin: top center;

    &--hidden {
        visibility: hidden;
    }

    &--visible {
        transform: translate(-50%, 15px) scale(1);
        visibility: visible;
        z-index: 1200;
    }

    &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid darken(theme-color('lightest-grey'), 10%);
        position: absolute;
        top: 1px;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    input[type="search"] {
        padding: 2rem 4.5rem 2rem 2rem;
        border: 3px solid darken(theme-color('lightest-grey'), 10%);
        border-radius: global-var('border-radius');
        background: white;

        &:focus {
            outline: none;
        }

        @include media-breakpoint-up(xl) {
            min-width: 25rem;
        }
    }

    &__submit {
        background: transparent;
        border: 0;
        position: absolute;
        right: 0;
        z-index: 1;
        top: 50%;
        transform: translate(0, -50%);
        line-height: 0;
        padding: 2rem 2rem 2rem 1rem;
    }
}

.quick-basket-wrap {
    position: relative;

    &.quick-basket-open {
        .quick-basket {
            display: block;
        }
    }
}

.quick-basket-toggle {
    color: theme-color('dark-grey');

    &:hover, &:focus {
        text-decoration: none;
    }
}

.quick-basket {
    position: absolute;
    top: 100%;
    right: -3rem;
    background: white;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    z-index: 11;
    margin-top: 3rem;
    padding: 3rem;
    width: 35rem;
    display: none;

    @include media-breakpoint-down(md) {
        display: none !important;
    }

    &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid white;
        position: absolute;
        right: 3rem;
        top: 0;
        transform: translate(0, -100%);
    }

    &__items {
        margin-bottom: 2rem;
        max-height: 30rem;
        overflow-y: auto;
        padding-right: 1rem;

        &::-webkit-scrollbar {
            width: .5rem;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
        }

        &::-webkit-scrollbar-thumb {
            background-color: theme-color('light-grey');
        }

        img {
            width: 9rem;
            height: auto;
            margin-right: 1.5rem;
            border: 1px solid theme-color('light-grey');
        }
    }
}

.store-notice-header {
    background: theme-color('primary-light');
    padding: 1rem 0;
}

// Custom search

.dgwt-wcas-search-wrapp {
    min-width: 350px;

    @include media-breakpoint-down(md) {
        max-width: 100%;
        min-width: 0;
        width: 100%;
        padding: 1rem 0;
    }
}

.dgwt-wcas-sf-wrapp {
    input[type=search].dgwt-wcas-search-input {
        border-radius: global-var('border-radius');
        border: 0;

        @include media-breakpoint-down(md) {
            background: theme-color('secondary-light') !important;
            color: theme-color('secondary') !important;
            box-shadow: none !important;

            &::-webkit-input-placeholder {
                color: theme-color('mid-grey');
            }

            &:-ms-input-placeholder {
                color: theme-color('mid-grey');
            }

            &::placeholder {
                color: theme-color('mid-grey');
            }
        }
    }

    svg {
        path {
            @include media-breakpoint-down(md) {
                fill: theme-color('secondary') !important;
            }
        }

        circle {
            @include media-breakpoint-down(md) {
                stroke: theme-color('secondary') !important;
            }
        }
    }
}

.dgwt-wcas-overlay-mobile {
    overflow-y: auto;
}

.dgwt-wcas-no-submit .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
    padding: 10px 15px 10px 50px;
}
