.offcanvas, .offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.offcanvas {
    transform: translate(-100%, 0);
    background: white;
    z-index: 999999999;
    transition: transform .5s global-var('transition'), box-shadow .5s;
    width: 80%;

    @include media-breakpoint-up(md) {
        width: 50%;
    }

    &__inner {
        background: white;
        height: 100vh;
        overflow-y: auto;
        position: relative;
        z-index: 1;
    }

    &__close {
        position: absolute;
        top: 50%;
        right: 0;
        width: 6rem;
        height: 6rem;
        background: white;
        transform: translate(0, -50%);
        color: theme-color('primary');
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: transform .3s global-var('transition');

        i {
            padding: 2rem;
        }
    }
}

.offcanvas-overlay {
    background: rgba(0,0,0,0.5);
    width: 100%;
    display: none;
    z-index: 999999998;
}

.nav {
    &--offcanvas {
        display: block;

        li {
            display: block;
            width: 100%;

            a {
                display: block;
                width: 100%;
                position: relative;
                color: theme-color('secondary');

                &:hover {
                    text-decoration: none;
                }
            }

            &.menu-item-has-children {
                a {
                    font-size: 1.5rem;
                }

                > a {
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 2.5rem;
                        top: 50%;
                        width: .8rem;
                        height: .8rem;
                        border-left: 2px solid theme-color('secondary');
                        border-bottom: 2px solid theme-color('secondary');
                        transform: translate(50%, -50%) rotate(-45deg);
                        transition: transform .3s;
                    }

                    &.menu-item-expanded {
                        &::after {
                            transform: translate(50%, -50%) rotate(135deg);
                        }
                    }
                }

                .sub-menu {
                    list-style: none;
                    padding-bottom: .5rem;
                    padding-left: 0;
                    margin-bottom: 0;
                    display: none;

                    li {
                        padding-left: 1.5rem;

                        a {
                            padding: 1rem 2.5rem;
                        }
                    }
                }
            }
        }

        > li {
            border-bottom: 1px solid theme-color('primary');

            > a {
                font-weight: bold;
                padding: 1.5rem 2.5rem;
            }

            &.menu-item-has-children {
                > .sub-menu {
                    box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.15);

                    > li {
                        border-top: 1px solid theme-color('light-grey');

                        > a {
                            padding: 1.5rem 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

body {
    &.offcanvas-open {
        overflow-y: hidden;

        .offcanvas {
            transform: translate(0, 0);
            box-shadow: 5px 0px 54px 0px rgba(0,0,0,0.3);

            &__close {
                transform: translate(50%, -50%);
                transition-delay: .5s;
            }
        }
    }
}
