.page-template{
    .content{
        h1{
            @extend .h2;
        }
        h2{
            @extend .h3;
        }
        h3{
            @extend .h4;
        }
        h4{
            @extend .h5;
        }
        h5{
            @extend .h6;
        }
        h6{
            @extend .h6-small;
        }
    }
}
