// Breadcrumbs

.woocommerce-breadcrumb {
    display: none;

    @include media-breakpoint-up(lg) {
        text-align: center;
        padding: 4rem 0 2rem;
        display: block;
    }

    a, span {
        padding: 0 1rem;
        margin: .5rem 0;
        display: inline-block;
        @extend .p-sm;
    }

    a {
        color: theme-color('secondary');
    }

    span {
        font-weight: bold;
    }
}

// Notices

.woocommerce {
    .woocommerce-notices-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        transition: transform .5s ease;

        .woocommerce-error {
            margin: 0;
        }

        &.hide-notice {
            transform: translate(0, 100%);
        }
    }

    &-error, &-info, &-message {
        text-align: center;
        padding: 1rem;
        color: white;
        font-weight: bold;

        a {
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;
            margin-right: 1rem;
        }
    }

    &-error {
        background-color: #d47272;

        .woocommerce-account & {
            margin-bottom: 3rem;
        }

        a {
            color: #ffc7c8;
        }
    }

    &-info, &-message {
        background-color: #87ab8a;

        a {
            color: #cce6ce;
        }
    }

    &-info {
        &.no-products {
            background: transparent;
            color: theme-color('dark-grey');
            border: 0;
            padding-top: 10%;
            text-align: center;
            display: flex;
            flex-flow: column;

            @include media-breakpoint-up(lg) {
                text-align: left;
                flex-flow: row;
                max-width: 65rem;
            }
        }

        &.cart-empty {
            padding: 8rem 0;
            background: transparent;
            border-top: 1px solid theme-color('light-grey');
            border-bottom: 1px solid theme-color('light-grey');
            color: theme-color('mid-grey');
        }
    }
}

// follow up emails

body {
    &.unsubscribe {
        .cc-revoke {
            display: none !important;
        }
    }
}

.unsubscribe-content {
    background: theme-color('light-grey');
    padding: 5rem;
    max-width: 1200px;
    margin: 5rem auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: center;
    border: 8px solid theme-color('primary');

    form {
        max-width: 50rem;
        margin: 0 auto;
    }
}

@import "layouts/woo/filter";
@import "layouts/woo/product";
@import "layouts/woo/archive";
@import "layouts/woo/cart";
@import "layouts/woo/checkout";
@import "layouts/woo/account";
