/**
 * Table Rate Shipping by Class, Weight, Price, Quantity & Volume for WooCommerce - Kahanit
 *
 * Table Rate Shipping by Kahanit(https://www.kahanit.com/) is licensed under a
 * Creative Creative Commons Attribution-NoDerivatives 4.0 International License.
 * Based on a work at https://www.kahanit.com/.
 * Permissions beyond the scope of this license may be available at https://www.kahanit.com/.
 * To view a copy of this license, visit http://creativecommons.org/licenses/by-nd/4.0/.
 *
 * @author    Amit Sidhpura <amit@kahanit.com>
 * @copyright 2017 Kahanit
 * @license   http://creativecommons.org/licenses/by-nd/4.0/
 */

@font-face {
    font-family: dashicons-latest;
    src: url('../fonts/dashicons/dashicons.eot');
    src: url('../fonts/dashicons/dashicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dashicons/dashicons.woff') format('woff'),
    url('../fonts/dashicons/dashicons.ttf') format('truetype'),
    url('../fonts/dashicons/dashicons.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#trs-form {
    .button,
    .button-primary {
        &:before {
            content: attr(data-text);
        }
    }
    .trs-jump-icon {
        color: #666666;
        display: inline-block;
        font-size: 1.1em;
        font-style: normal;
        height: 16px;
        line-height: 16px;
        position: relative;
        vertical-align: middle;
        width: 16px;
        margin: 0 0 0 5px;
        text-decoration: none;
        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        &:after {
            speak: none;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            font-family: dashicons;
            font-weight: 400;
            font-variant: normal;
            line-height: 1;
            margin: 0;
            text-indent: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            content: "\f223";
            cursor: pointer;
        }
    }
    .trs-import-status {
        color: #ffffff;
        background: #0085ba;
        display: inline-block;
        line-height: 20px;
        padding: 0 5px;
        border-radius: 3px;
    }
    #trs-container {
        overflow-y: hidden;
        overflow-x: auto;
        padding: 20px 0;
        .trs-title {
            font-size: 14px;
            font-weight: 600;
            color: #23282d;
            margin: 6px 6px 0 0;
            float: left;
        }
        .trs-table-tools {
            padding: 0 2px;
            margin: 0 0 5px;
            overflow: hidden;
            .trs-actions-jump {
                display: inline-block;
                .trs-actions {
                    margin: 1px 0 0 0;
                    .button {
                        float: left;
                    }
                }
            }
            .dataTables_info,
            .dataTables_length,
            .dataTables_paginate {
                float: right;
                line-height: 30px;
                margin: 0 0 0 15px;
            }
            .dataTables_length {
                label {
                    display: block;
                }
                span {
                    float: left;
                }
                select {
                    float: right;
                    margin: 0 0 0 5px;
                    font-size: 13px;
                    line-height: 24px;
                    height: 30px;
                }
            }
            .dataTables_paginate {
                .paginate_button {
                    position: relative;
                    float: left;
                    padding: 5px 10px;
                    margin-left: -1px;
                    line-height: 1.42857143;
                    color: #32373c;
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover {
                        background: #f8f8f8;
                    }
                    &.current {
                        z-index: 3;
                        color: #ffffff;
                        background-color: #0085ba;
                        border-color: #0085ba;
                        cursor: default;
                    }
                    &.disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                }
                .ellipsis {
                    float: left;
                    margin: 0 5px;
                }
            }
        }
        .trs-table-table {
            position: relative;
            .dataTables_processing {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: #ffffff;
                opacity: 0.35;
                z-index: 1;
                text-indent: -999px;
            }
            #trs-table {
                border-collapse: collapse;
                border: 1px solid #dddddd;
                width: 100% !important;
                min-width: 700px !important;
                background-color: #ecfaff;
                box-sizing: border-box;
                * {
                    box-sizing: border-box;
                }
                th,
                td {
                    padding: 7px;
                    width: auto;
                    border-bottom: 1px solid #dddddd;
                    border-right: 1px solid #dddddd;
                    vertical-align: middle;
                }
                th {
                    font-weight: 600;
                    line-height: 1;
                    background: #ffffff;
                }
                .columns-info {
                    th {
                        padding: 5px 10px;
                    }
                    .column-limits {
                        background: #ecfaff;
                        text-align: center;
                    }
                }
                .columns-filters {
                    th,
                    td {
                        background: #eeeeee;
                    }
                }
                .column-name {
                    vertical-align: middle;
                }
                .column-cb {
                    width: 32px !important;
                    text-align: center;
                }
                .column-class {
                    width: auto !important;
                }
                .column-weight {
                    width: 10% !important;
                }
                .column-price {
                    width: 10% !important;
                }
                .column-quantity {
                    width: 10% !important;
                }
                .column-volume {
                    width: 10% !important;
                }
                .column-cost {
                    width: 10% !important;
                }
                .column-comment {
                    width: 10% !important;
                }
                .column-status {
                    width: 100px !important;
                    text-align: center;
                }
                .column-actions {
                    width: 100px !important;
                    text-align: center;
                }
                .column-filters {
                    text-align: center;
                }
                tbody {
                    tr:nth-child(even) {
                        background-color: #ffffff;
                    }
                    tr.ui-sortable-helper {
                        display: table;
                        left: 0;
                        width: 100% !important;
                        td {
                            background-color: #fcf8e3;
                            border: 1px solid #faebcc;
                        }
                    }
                    tr.trs-tr-selected td {
                        background-color: #fcf8e3;
                    }
                    tr.trs-tr-addnew td {
                        background-color: #eeeeee;
                    }
                }
                input[type="checkbox"] {
                    margin: 0;
                }
                input[type="text"],
                select {
                    display: block;
                    font-size: 12px;
                    line-height: 1.35;
                    margin: 0;
                    width: 100%;
                    height: 22px;
                    padding: 2px 5px;
                    &:focus {
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
                .dashicons {
                    &.dashicons-no-alt {
                        color: #d9534f;
                    }
                    &.dashicons-yes {
                        color: #5cb85c;
                    }
                    &.dashicons-trash {
                        color: #d9534f;
                        cursor: pointer;
                    }
                    &.dashicons-move {
                        cursor: move;
                    }
                }
                .select2-container {
                    display: block;
                    width: auto !important;
                    .select2-selection--multiple {
                        min-height: 0;
                        border: none;
                    }
                    .select2-selection__rendered,
                    .select2-choices {
                        display: block;
                        min-height: 22px;
                        padding: 1px 5px 0 0;
                        border: 1px solid #dddddd;
                        .select2-selection__choice,
                        .select2-search-choice {
                            font-size: 12px;
                            line-height: 12px;
                            padding: 2px 8px 2px 20px;;
                            margin: 0 0 1px 1px;
                            color: #ffffff;
                            border: 1px solid #00719b;
                            border-radius: 3px;
                            background: #0085ba;
                            position: relative;
                        }
                        .select2-selection__choice__remove,
                        .select2-search-choice-close {
                            font-family: dashicons;
                            font-size: 0;
                            color: #ffffff;
                            position: absolute;
                            top: 2px;
                            left: 3px;
                            background: none;
                            width: 13px;
                            height: 13px;
                            &:before {
                                content: "\f335";
                                font-size: 13px;
                            }
                        }
                        .select2-search {
                            width: auto;
                            min-height: 0;
                        }
                        .select2-search .select2-search__field,
                        .select2-search-field .select2-input {
                            line-height: 1.2;
                            height: 19px !important;
                            min-height: 0;
                            min-width: 0;
                            width: 50px !important;
                            margin: 0;
                            padding: 2px 5px;
                            float: left;
                        }
                    }
                    &.select2-container--focus,
                    &.select2-container-active {
                        .select2-selection__rendered,
                        .select2-choices {
                            border-color: #666666;
                        }
                    }
                }
            }
        }
        .editable {
            font-size: 13px;
            line-height: 1.7;
            display: block;
            margin: 0 auto;
            min-height: 22px;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            &.dashicons {
                font-size: 20px;
                line-height: 1;
            }
            &:hover:after {
                content: "\f464";
                font-family: dashicons;
                font-size: 13px;
                color: #888888;
                position: absolute;
                right: 0;
            }
            &[data-type="toggle"]:after {
                display: none;
            }
            .editable-option {
                display: inline-block;
                float: left;
                font-size: 12px;
                line-height: 1.35;
                color: #ffffff;
                border: 1px solid #00719b;
                background: #0085ba;
                margin: 0 2px 2px 0;
                padding: 1px 5px;
                border-radius: 3px;
            }
        }
        .alert {
            padding: 10px;
            border: 1px solid transparent;
            position: fixed;
            bottom: 10px;
            left: 50%;
            width: 420px;
            z-index: 101;
            margin: 0 0 50px -210px;
            display: none;
            a {
                color: inherit;
                &:hover,
                &:focus,
                &:active {
                    color: inherit;
                    outline: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
            .alert-close {
                float: right;
            }
            .alert-reload {
                margin: 10px 0 0;
            }
            &.alert-success {
                color: #3c763d;
                background-color: #dff0d8;
                border-color: #d6e9c6;
            }
            &.alert-warning {
                color: #8a6d3b;
                background-color: #fcf8e3;
                border-color: #faebcc;
            }
            &.alert-danger {
                color: #a94442;
                background-color: #f2dede;
                border-color: #ebccd1;
            }
        }
        .empty {
            font-size: 0;
            &:before {
                content: attr(data-text);
                font-size: 13px;
                color: #bbbbbb;
                font-style: italic;
            }
        }
        .dashicons-move {
            font-family: dashicons-latest;
            &:before {
                content: "\f545";
            }
        }
        .dashicons-backup-trs {
            display: inline-block;
            font-family: dashicons;
            font-size: 0;
            font-weight: 400;
            font-style: normal;
            text-decoration: inherit;
            text-align: center;
            vertical-align: top;
            -webkit-transition: color .1s ease-in 0s;
            transition: color .1s ease-in 0s;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            &:before {
                content: "\f321";
                font-size: 20px;
                color: #ee8c25;
                font-style: normal;
                line-height: 20px;
            }
            &.button {
                &:before {
                    line-height: inherit;
                }
            }
            &.button-primary {
                &:before {
                    color: #ffffff;
                    line-height: inherit;
                }
            }
        }
        &.trs-container-zone {
            padding: 0;
        }
        .trs-zone-tools {
            padding: 2px;
        }
        .trs-import-status {
            vertical-align: middle;
            margin: 0 5px 0 10px;
        }
    }
    #trs-help {
        font-size: 14px;
        line-height: 1.4em;
        clear: both;
        &.trs-help-zone {
            padding: 1em 0;
        }
        .trs-help-title {
            font-size: 14px;
            font-weight: 600;
            margin: 0 0 5px;
        }
        a:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin: 0 0 3px 0;
                padding: 0 0 0 20px;
                position: relative;
            }
            li:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            li:before {
                font-family: dashicons;
                font-size: 20px;
                color: #5cb85c;
                content: "\f147";
                position: absolute;
                left: 0;
                top: 1px;
            }
            ul {
                margin: 3px 0 0;
                li:before {
                    content: "\f132";
                    color: #0085ba;
                    font-size: 16px;
                    top: 2px;
                }
                ul {
                    li:before {
                        content: "\f139";
                        color: #d9534f;
                        font-size: 22px;
                        top: 0;
                        left: -2px;

                    }
                    ul {
                        li:before {
                            content: "\f159";
                            color: #aa78e0;
                            font-size: 13px;
                            left: 2px;
                        }
                    }
                }
            }
        }
    }
}
.wc-modal-shipping-method-settings {
    #trs-form {
        .form-table {
            background: none;
            margin: 0;
            tr td input[type=checkbox] {
                width: 16px;
            }
        }
        #trs-help,
        #trs-container {
            padding: 1em;
        }
    }
}
@media screen and (max-width: 782px) {
    .wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.check-column) {
        display: table-cell;
    }
    #trs-form input.regular-input,
    #trs-form select,
    #trs-form .select2-container {
        display: block;
        width: 100% !important;
        max-width: 100%;
        height: auto;
    }
    #trs-form .select2-container {
        .select2-selection--single {
            height: 40px;
            .select2-selection__arrow {
                top: 4px;
            }
        }
        .select2-selection > .select2-selection__rendered {
            padding: 3px 24px 3px 8px;
        }
        .select2-choice > .select2-chosen {
            padding: 6px 0;
        }
    }
    .wc-modal-shipping-method-settings {
        #trs-form .form-table tr td input[type=checkbox] {
            width: 25px;
        }
    }
}