a, button, input {
    &:focus {
        outline: none;
    }
}

.btn {
    letter-spacing: $letter-spacing-button;
    border: 0;
    border-radius: global-var('border-radius');
    transition: background .3s ease;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: theme-color('primary');
    padding: 1.5rem 3rem;
    @include font-size(15px);

    @include media-breakpoint-up(md) {
        padding: 2rem 2.4rem;
    }

    @include media-breakpoint-up(lg) {
        min-width: 18rem;
    }

    @include media-breakpoint-up(xl) {
        min-width: 25rem;
    }

    i {
        transition: transform .3s ease;
    }

    &:hover {
        color: white;
        background: theme-color('primary-dark');

        i {
            transform: translate(5px, 0);
        }
    }

    &--nomin {
        min-width: 0 !important;
    }

    &--full-mob {
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    &--sm {
        padding: 1rem;
        @include font-size(12px);
    }

    &--outline {
        background: transparent;
        color: theme-color('secondary');
        border: 2px solid theme-color('secondary');
        border-radius: global-var('border-radius');

        &:hover {
            background: theme-color('secondary');
            color: white;
        }

        &[disabled] {
            cursor: not-allowed;

            &:hover {
                background: transparent;
                color: theme-color('secondary');
                border: 2px solid theme-color('secondary');
            }
        }
    }

    &--underline {
        background: transparent;
        box-shadow: none;
        color: theme-color('dark-grey');
        padding: .5rem 0;
        text-align: left;
        font-weight: bold;
        min-width: 0;
        position: relative;
        border-bottom: 2px solid theme-color('dark-grey');
        @include font-size(12px);

        i {
            padding-left: 1rem;
            transition: transform .3s ease;
        }

        &:hover {
            background: transparent;

            i {
                transform: translate(-5px, 0);
            }
        }
    }

    &.btn{
        &--white {
            background: white;
            color: theme-color('secondary');

            &:hover {
                background: theme-color('secondary');
                color: white;
            }

            &.btn--outline{
                background: transparent;
                border-color: white;
                color: white;

                &:hover {
                    color: white;
                    background: theme-color('secondary');
                }
            }
        }

        &--grey {
            color: white;
            background: theme-color('mid-grey');

            &:hover {
                color: white;
                background: theme-color('mid-grey');
            }

            &.btn--outline{
                background: transparent;
                border-color: theme-color('mid-grey');
                color: theme-color('mid-grey');

                &:hover {
                    background: theme-color('mid-grey');
                    color: white;
                }
            }
        }

        &--primary {
            color: white;
            background: theme-color('primary');

            &:hover {
                color: white;
                background: theme-color('primary-dark');
            }

            &.btn--outline{
                background: transparent;
                border-color: theme-color('primary');
                color: theme-color('primary');

                &:hover {
                    background: theme-color('primary');;
                    color: white;
                }
            }
        }

        &--secondary {
            color: white;
            background: theme-color('secondary');

            &:hover {
                color: white;
                background: theme-color('secondary-dark');
            }

            &.btn--outline{
                background: transparent;
                border-color: theme-color('secondary');
                color: theme-color('secondary');

                &:hover {
                    background: theme-color('secondary');
                    color: white;
                }
            }
        }
    }

}

a.bg-primary {
    &:hover {
        background-color: theme-color('primary') !important;
    }
}

a.bg-secondary {
    &:hover {
        background-color: theme-color('secondary') !important;
    }
}

a.bg-sale {
    &:hover {
        background-color: theme-color('sale') !important;
    }

    &--secondary {
        background: theme-color('secondary');
    }

    &--outline {
        background: transparent;
        border: 2px solid theme-color('secondary');
        color: theme-color('secondary');
        font-weight: bold;

        &:hover {
            background: theme-color('secondary');
            color: white;
            border-color: theme-color('secondary');
        }
    }
}
