@each $breakpoint in map-keys($grid-breakpoints) {
    $columns: 5;
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    // Allow columns to stretch full width below their breakpoints
    @for $i from 1 through $columns {
        .col#{$infix}-#{$i}_#{$columns} {
            @extend %grid-column;
        }
    }

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        @for $i from 1 through $columns {
            .col#{$infix}-#{$i}_#{$columns} {
                @include make-col($i, $columns);
            }
        }
    }
}
