.container {
    &-fluid {
        &__wide {
            @include media-breakpoint-up(xl) {
                max-width: 90%;
            }
            @include media-breakpoint-up(xxl) {
                max-width: 80%;
            }
        }
    }
}


