.cc-window {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    color: theme-color('secondary');
    background: theme-color('light-grey');
    padding: 3rem;
    border-top: 1px solid theme-color('primary');
    transition: transform .5s cubic-bezier(0.77, 0, 0.175, 1), opacity .3s ease;
    opacity: 1;
    transform: translate(0, 0);
    text-align: center;
    width: 100%;
    max-width: 100%;

    @include media-breakpoint-up(md) {
        border-left: 1px solid theme-color('primary');
        width: 40rem;
    }

    &.cc-invisible {
        opacity: 0;
        transform: translate(0, 100%);
    }

    .cc-message {
        @extend .p-sm;

        .cc-link {
            margin-left: .5rem;
            color: theme-color('secondary');
            text-decoration: underline;
        }
    }

    .cc-compliance {
        margin-top: 3rem;
        border-top: 1px solid darken(theme-color('light-grey'), 6%);
    }

    .cc-btn {
        margin: 2rem 2rem 0;
        padding: .5rem 1rem;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        transition: color .3s ease;

        &:hover {
            text-decoration: none;
        }

        &.cc-deny {
            color: theme-color('mid-grey');

            &:hover {
                color: theme-color('dark-grey');
            }
        }

        &.cc-allow {
            font-weight: bold;
            color: theme-color('secondary');

            &:hover {
                color: theme-color('primary');
            }
        }
    }
}

.cc-revoke {
    display: block !important;
    cursor: pointer;
    margin-bottom: 1rem;
}
