// Field styling

.field-wrap,
.field-wrap label,
.field-wrap .field-wrap__input input,
.wpcf7-form-control-wrap {
    display: block;
    width: 100%;
}

.field-wrap {
    label {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &__input {
        position: relative;

        input, textarea, select {
            border: 2px solid theme-color('light-grey');
            border-radius: global-var('border-radius');
            background: white;
            width: 100%;
            padding: 1rem 1.5rem;

            @include media-breakpoint-up(lg) {
                padding: 1.5rem;
            }

            &:focus {
                outline: none;
                border-color: darken(theme-color('light-grey'), 10%);
            }
        }
    }

    &--checkbox {
        display: flex;
        max-width: 50rem;

        input[type="checkbox"] {
            margin: 7px 16px 0px 4px;
        }

        label {
            font-weight: normal;
        }
    }

    &--submit {
        button {
            @include media-breakpoint-up(lg) {
                min-width: 25rem;
                max-width: 100%;
            }
        }
    }

    &--select {
        select {
            appearance: none;
        }

        i {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-200%, -50%);
            pointer-events: none;
        }
    }
}

// Signup form

.form-signup {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    width: 60rem;
    max-width: 100%;

    .field-wrap {
        &--checkbox {
            margin: 2rem auto;
        }

        &--submit {
            text-align: center;
        }
    }

    .response {
        margin-bottom: 3rem;
        background: theme-color('primary');
        padding: 2rem;
        border-radius: global-var('border-radius');
        text-align: center;
        color: white;
        font-weight: bold;

        &#mce-success-response {
            background: theme-color('success');
        }
    }
}

// Search form

.form-search {
    position: relative;

    &__submit {
        background: transparent;
        border: 0;
        box-shadow: none;
    }

    .field-wrap {
        &__input {
            input {
                border-radius: 0;
                border: 0;
                background: theme-color('lightest-grey');
                box-shadow: inset 0px 0px 12px 3px rgba(0, 0, 0, 0.15);
                padding: 2rem 4rem 2rem 2rem;
            }
        }

        &--submit {
            width: auto;
            position: absolute;
            z-index: 1;
            right: 2.5rem;
            top: 50%;
            transform: translate(50%, -50%);
        }
    }
}

// Contact form 7

.wpcf7-form-control {
    .wpcf7-list-item {
        margin: 0;
    }

    label {
        display: flex;
    }
}
