.product-maskfit-enquiry {
    margin: 2rem 0;
    border-radius: global-var('border-radius');
    padding: 2rem;
    background-color: white;

    &-messages,
    &-form-container {
        background-color: transparent;
        border-radius: global-var('border-radius');
        h2 {
            font-size: 2.4rem;
        }
    }

    &-messages {
        margin-bottom: 2rem;
        background-color: transparent;

        &.error {
            background: theme-color('primary');
        }

        &.success {
            background: theme-color('success');
        }
    }

    form{
        input{
            padding: 2rem;
            border: 2px solid theme-color('light-grey');
        }

    }
}
