/**
* WordPress Generated Classes
* @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
*/

/** Media alignment */
.alignnone {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    height: auto;
}

.aligncenter {
    display: block;
    margin: ($spacer / 2) auto;
    height: auto;
}

.alignleft,
.alignright {
    margin-bottom: ($spacer / 2);
    height: auto;
}

@include media-breakpoint-up(sm) {
    .alignleft {
        float: left;
        margin-right: ($spacer / 2);
    }

    .alignright {
        float: right;
        margin-left: ($spacer / 2);
    }
}

/** Captions */
.wp-caption {
    @extend .figure;
}

.wp-caption img {
    @extend .figure-img;
    @extend .img-fluid;
}

.wp-caption-text {
    @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
    @extend .sr-only;
    @extend .sr-only-focusable;
}

/** Search form */
.search-form {
    @extend .form-inline;
}

.search-form label {
    @extend .form-group;

    font-weight: normal;
}

.search-form .search-field {
    @extend .form-control;
}

.search-form .search-submit {
    @extend .btn;
    @extend .btn-secondary;
}

.comment-list {
    @extend .list-unstyled;
}

.comment-list ol {
    list-style: none;
}

.comment-form p {
    @extend .form-group;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
    @extend .form-control;
}

.comment-form input[type="submit"] {
    @extend .btn;
    @extend .btn-secondary;
}

body#tinymce {
    margin: 12px !important;
}
