.intus-healthcare {

    .iconic-wsb-product-bumps {
        padding: 2rem;
        margin: 0 0 4rem 0;
        background-color: white;
        border-radius: 5px;

        &__header {
            padding: 0;
            background: transparent;
        }

        &__title {
            display: inline-block;
            width: 100%;
            margin: 0;
            margin-bottom: 1rem !important;
            font-size: 2.4rem;
            font-weight: 300;
        }

        &__sales_pitch {
            margin: 0;
            background: #fff;
            padding: 0 0 1rem 0;

            p {
                font-size: 1.4rem;
            }
        }

        &__actions {
            overflow: hidden;
            padding: 20px 20px 30px;
            padding: 2rem 0 0 0;
        }

        &__total-price {
            .small{
                font-size: 1.25rem;
                white-space: nowrap;
            }

            &-amount {
                display: inline-block;
                font-size: 2rem;
            }

            &-label {
                display: block;
                margin-bottom: 0.5rem;
                font-size: 2rem;
            }
        }

        &__discount-message {
            background: #be0526;
            padding: 0.25rem 1rem;
            border-radius: 5px;
            font-size: 1.6rem;
        }

        &__list-item {
            margin: 0 !important;
            list-style: none;
            padding: 8px 20px;
            padding: 2rem 0;
            border-bottom: 1px solid #e2e5e7;

            &[data-product_type="variable"] {
                display: none;
            }
        }
    }

    .iconic-wsb-bump-product {

        label {
            margin-bottom: 0 !important;
            padding: 0 !important;
            font-size: 1.4rem;
        }

        .amount {
            font-weight: 600;
            font-weight: 300;
        }

        &__checkbox {
            display: inline-block;
            margin: 0 !important;
            position: absolute;
            top: 5px;
            top: 0.5rem;
            left: 0;
        }

        &__title {
            display: inline-block;
            width: 100%;
            margin-bottom: 1rem;
        }

        &__select {
            margin-top: 1rem;
            display: block;
            margin: 1rem 0 0 0;
        }

        &__price {
            font-size: 1.8rem;
            font-weight: 300;

            .small{
                padding-left: 0.5rem;
                font-size: 1.25rem;
                white-space: nowrap;
            }
        }

    }

    .iconic-wsb-modal {
        border-radius: global-var('border-radius');

        .mfp-close{
            display: none;
        }

        &__content {
            padding: 20px;
        }

        &__header {
            background-color: theme-color('secondary') !important;

            &-icon--close {
                fill: white;
                opacity: 1;
            }
        }

        &__offer {
            text-align: center;
        }

        &-products {
            &__product-list {
                justify-content: space-evenly;
            }

            &__product:not(:last-child) {
                margin-bottom: 0;
            }
        }

        &__product--summary {
            margin: -20px -30px 30px;
            padding: 20px;
        }

        &-product {
            text-align: center !important;

            &__price {
                margin-top: 10px;
            }

            &-summary {

                &__main {
                    padding-right: 0;
                    margin-right: 5%;
                }

                &__product {
                    &-image {
                        width: 100%;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    &-info {
                        padding-left: 20px;
                    }
                }

                &__checkout {
                    button {
                        @extend .btn;
                        @extend .btn--sm;
                        min-width: 16rem;
                    }
                }
            }

            &-offer{
                margin-top: 2.4rem;
                border-width: 2px;
                border-radius: global-var('border-radius');

                &___variable-product{
                    .variations{
                        td{
                            &.label,
                            &.value{
                                padding-bottom: 1.25rem;
                            }
                            &.label{
                                padding-right: 1rem;
                                font-weight: 700;
                            }
                        }
                    }

                    select{
                        box-shadow: none;
                        background: transparent;
                        -webkit-appearance: none;
                        padding: 0.75rem 1rem;
                        width: 100%;
                        display: block;
                        margin: 0;
                        border: 2px solid theme-color('secondary');
                        border-radius: global-var('border-radius');
                        transition: border-color .3s ease;

                        &:focus {
                            outline: none;
                            border-color: theme-color('primary-dark');
                        }
                    }
                }

                &__price{
                    .small{
                        font-size: 1.25rem;
                        white-space: nowrap;
                    }
                }

                &__actions{
                    .iconic-wsb-btn{
                        display: block;
                        width: 100%;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
                }

                &__btn-skip{
                    display: block;
                    margin-top: 1.5rem;
                    padding: 10px 15px;
                    border: 2px solid theme-color('secondary-light');
                    border-radius: 5px;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 700;
                }
            }

            &__add-to-cart {
                .button {
                    @extend .btn;
                    @extend .btn--sm;
                    @extend .btn--secondary;
                    min-width: 16rem;
                }
            }
        }

    }

    .iconic-wsb-product-bumps + .quantity,
    .iconic-wsb-product-bumps + .quantity + button {
        display: none !important;
    }
}

@include media-breakpoint-up(md) {
    .intus-healthcare {
        .iconic-wsb-modal {
            &-product-summary {
                padding: 20px 20px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .intus-healthcare {
        .iconic-wsb-modal {
            width: 96%;
            margin: 2rem auto;

            &__header-icon--close{
                display: none;
            }

            .mfp-close{
                display: block;
                top: 11px;
                right: -5px;
                background: white;
                border: 2px solid theme-color('secondary');
                border-radius: 50%;
                opacity: 1;
            }

            &__content{
                padding: 1.5rem;
            }

            &__title{
                font-size: 1.9rem;
            }
            &__subtitle{
                font-size: 1.5rem
            }

            &-product-offer{
                margin-top: 1rem;
                padding: 1rem 1.5rem;

                &__image{
                    height: 10rem;
                    img{
                        padding: 0;
                    }
                }

                &__column,
                &__column p{
                    font-size: 1.3rem;
                }

                &__title{
                    font-size: 1.8rem;
                    text-align: center;
                }

                &__actions{
                    margin: 1rem 0 0 0;
                }
            }


        }

    }

}
