<div class="contact-form">

    <div class="row">
        <div class="col-12 col-lg-6 mb-5">
            <div class="field-wrap">
                <label for="contact-name">Name*</label>
                <div class="field-wrap__input">
                    [text* contact-name id:contact-name placeholder "Your name"]
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
            <div class="field-wrap">
                <label for="contact-email">Email*</label>
                <div class="field-wrap__input">
                    [email* contact-email id:contact-email placeholder "Your email"]
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <div class="field-wrap">
            <label for="contact-message">Message*</label>
            <div class="field-wrap__input">
                [textarea* contact-message id:contact-message placeholder "Your message"]
            </div>
        </div>
    </div>

    <div class="mb-5">
        <div class="field-wrap field-wrap--checkbox">
            [acceptance contact-accept id:contact-accept] By ticking this box, you agree to be contacted via email. Please see our Terms & Conditions for more information [/acceptance]
        </div>
    </div>

    <div class="field-wrap field-wrap--submit">
        [submit id:contact-send class:btn "Send Message"]
    </div>

</div>
