.intus-healthcare{
    .wc-block-featured-category{
        .wc-block-featured-category{
            &__wrapper{
                margin: 2.4rem 0;
            }

            &__link{
                padding-bottom: 0;

                .wp-block-button__link {
                    color: inherit;
                }

                .wp-block-button.alignleft{
                    margin-bottom: 0;
                }
            }

            &__description,
            &__price,
            &__title{
                color: theme-color('secondary');
            }
        }
        &.text-white{
            .wc-block-featured-category{
                color: white;
                &__description,
                &__price,
                &__title{
                    color: white;
                }
            }
            .wp-block-button__link{
                border-color: white;
                &:hover{
                    color: theme-color('secondary');
                    background-color: white;
                    border-color: white;
                }
            }
        }
        &.text-blue{
            .wc-block-featured-category{
                color: theme-color('secondary');
                &__description,
                &__price,
                &__title{
                    color: theme-color('secondary');
                }
            }
            .wp-block-button__link{
                border-color: theme-color('secondary');
                &:hover{
                    color: theme-color('secondary');
                    background-color: white;
                }
            }
        }
        &.text-pink{
            .wc-block-featured-category{
                color: theme-color('primary');
                &__description,
                &__price,
                &__title{
                    color: theme-color('primary');
                }
            }
            .wp-block-button__link{
                border-color: theme-color('primary');
                &:hover{
                    color: theme-color('primary');
                    background-color: white;
                }
            }
        }
    }
}
