.intus-healthcare{
    .wc-block-grid{
        ul.wc-block-grid__products{
            padding-left: 0;
        }

        .wc-block-grid__product{
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            font-size: inherit;
        }

        .wc-block-grid__product-price{
            margin-top: auto;
        }

        &.wc-block-grid.has-4-columns{
            &:not(.alignwide):not(.alignfull){
                .wc-block-grid__product{
                    font-size: inherit;
                }
            }
        }

        &.wp-block-handpicked-products{
            margin-top: $grid-gutter-width;
        }
    }

    .wc-block-grid__product-title{
        color: theme-color('secondary');
    }

    .wc-block-grid__product-add-to-cart{

        &.wp-block-button
        {
            .wp-block-button__link{
                @extend .btn;
                @extend .btn--outline;
                width: 100%;
                max-width: 100%;
                background-color: theme-color('primary');
                border-color: theme-color('primary');
                color: white;
                font-size: 1.3rem;

                &:hover{
                    background-color: theme-color('secondary');
                    border-color: theme-color('secondary');
                }
            }
        }
    }

}

@media screen and (min-width: 601px) and ( max-width: 767px ) {
    .intus-healthcare {
        .wc-block-grid {
            &.wc-block-grid.has-4-columns,
            &.wc-block-grid.has-5-columns{
                .wc-block-grid__product {
                    flex: 1 0 50%;
                    max-width: 50%;
                    padding: 0;
                    margin: 0 0 24px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px){
    .intus-healthcare {
        .wc-block-grid__product{
            border-left-width: 1rem;
            border-right-width: 1rem;
        }

        .wc-block-grid__product-add-to-cart {

            &.wp-block-button {
                .wp-block-button__link {
                    min-width: 16rem;
                }
            }
        }
    }

}
